.search {
  &__element {
    @extend %basic-block;

    max-width: 56rem;
    margin: 0 auto;
  }

  &__input {
    @extend %strip-input-style;

    width: 100%;
    height: 6rem;
    margin-top: 6rem;
    padding-left: 6rem;
    padding-right: 2rem;
    color: -color(shark);
    font-family: $atlas;
    font-size: 2.4rem;
    line-height: 6rem;
    border-radius: 0.8rem;
    border: 1px solid -color(topaz);
  }
}

.docs-nav {
  position: relative;
  height: 100%;
  flex: 1;
  padding-top: 1rem;

  &__list {
    > li {
      & + * {
        margin-top: 2.2rem;
      }

      > ul {
        display: block;
        position: relative;
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        visibility: hidden;
        margin-top: 0;
        will-change: opacity, visibility, height, margin;

        &:before {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 0.3rem;
          height: 100%;
          opacity: 0.05;
          background-color: -color(purple-heart);
        }

        &.is-open {
          opacity: 1;
          visibility: visible;
          max-height: 100%;
          margin-top: 1.4rem;
        }

        li {
          position: relative;

          & + * {
            margin-top: 1rem;
          }
        }
      }

      a {
        @include copy-b(-color(topaz));

        display: block;
        position: relative;
        padding-left: 2.6rem;
        vertical-align: middle;
        will-change: color;
        transition: color 0.15s $ease-in-out-quart;

        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 0.3rem;
          height: 100%;
          background-color: -color(purple-heart);
          opacity: 0;
          will-change: opacity;
          transition: opacity 0.15s $ease-in-out-quart, background 0.15s $ease-in-out-quart;
        }

        &:hover,
        &.is-current {
          color: -color(shark);

          &:before {
            opacity: 1;
          }
        }

        &.is-current {
          font-weight: -weight(medium);
        }

        &:active {
          color: -color(bright-sun);
          transition: color 0.08s $ease-in-out-quart;

          &:before {
            background-color: -color(bright-sun);
            transition: background 0.08s $ease-in-out-quart;
          }
        }
      }
    }
  }

  &__heading {
    @include hd-g(-color(purple-heart));
  }
}

.pagination {
  margin-top: 12rem;
  display: flex;
  justify-content: space-between;

  &__link {
    @include copy-c(-color(topaz));

    flex: 1 1 50%;

    &:first-child {
      padding-right: 3rem;

      .pagination__icon {
        padding-right: 1.6rem;
      }
    }

    &:last-child {
      padding-left: 3rem;
      text-align: right;

      .pagination__icon {
        padding-left: 1.6rem;
      }
    }
  }
}
