.search {
  &__element {
    @extend %basic-block;

    max-width: 56rem;
    margin: 6rem auto 0;
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 2.2rem;
    display: block;
    width: 2.2rem;
    height: 2.2rem;
    transform: translateY(-50%);

    svg {
      @extend %absolute-center;

      fill: -color(topaz);
    }
  }

  &__input {
    @extend %strip-input-style;

    width: 100%;
    height: 6rem;
    padding-left: 6rem;
    padding-right: 2rem;
    color: -color(shark);
    font-family: $atlas;
    font-size: 2.4rem;
    line-height: 6rem;
    border-radius: 0.8rem;
    border: 1px solid -color(topaz);
  }
}

.docs-nav {
  position: relative;
  height: 100%;
  flex: 1;
  padding-top: 1rem;

  &__list {
    > li {
      & + * {
        margin-top: 2.2rem;
      }

      &.is-open {
        .line-list--green {
          opacity: 1;
          visibility: visible;
          max-height: 100%;
          margin-top: 1.4rem;
        }
      }

      .line-list--green {
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        visibility: hidden;
        margin-top: 0;
        will-change: opacity, visibility, height, margin;
      }
    }
  }

  &__heading {
    @include hd-g(-color(purple-heart));

    will-change: color;
    transition: color 0.15s $ease-in-out-quart;
    cursor: pointer;

    &:hover {
      color: -color(shamrock);
    }
  }
}

.pagination {
  margin-top: 12rem;
  display: flex;
  justify-content: space-between;

  &__link {
    display: flex;
    align-items: center;
    flex: 1 1 50%;

    &:first-child {
      padding-right: 3rem;

      .pagination__icon {
        margin-right: 1.6rem;
      }
    }

    &:last-child {
      padding-left: 3rem;
      justify-content: flex-end;

      .pagination__icon {
        margin-left: 1.6rem;
      }
    }

    p {
      @include copy-c(-color(topaz));

      will-change: color;
      transition: color 0.15s $ease-in-out-quart;
    }

    &:hover {
      p {
        color: -color(purple-heart);
      }

      .pagination__icon {
        svg {
          fill: -color(purple-heart);
        }
      }
    }

    &:active {
      p {
        color: -color(bright-sun);
        transition: color 0.08s $ease-in-out-quart;
      }

      .pagination__icon {
        svg {
          fill: -color(bright-sun);
          transition: fill 0.08s $ease-in-out-quart;
        }
      }
    }
  }

  &__icon {
    display: block;
    position: relative;
    width: 2rem;
    height: 1.2rem;

    svg {
      @extend %absolute-center;

      fill: -color(topaz);
      will-change: fill;
      transition: fill 0.15s $ease-in-out-quart;
    }
  }
}
