.features-container {
  @extend %basic-block;
  @extend %container;

  padding: 16.4rem 0 25.3rem 4rem;
  lost-utility: clearfix;

  .feature {
    lost-column: 1/3;
    padding-right: 1rem;

    h2 {
      font-family: $atlas;
      font-size: 3.6rem;
      margin-top: 3.5rem;
    }

    p {
      font-family: $atlas-typewriter;
      font-size: 1.8rem;
      line-height: 1.6;
      margin-top: 2.3rem;
    }

    &__img {
      height: 22rem;
      width: 36rem;
      background-color: lightgray;
    }
  }
}

.features__hero {
  @extend %basic-block;

  background-color: #1C1259;
  text-align: center;
  margin-bottom: 13rem;
  color: white;

  h1 {
    font-family: $atlas;
    font-size: 8rem;
    font-weight: -weight(bold);
    padding-top: 14rem;
    margin-bottom: 5rem;
  }

  h2 {
    font-family: $atlas-typewriter;
    font-weight: -weight(regular);
    font-size: 1.8rem;
    margin-bottom: 3.4rem;

  }

  .features__hero--button {
    display: inline-block;
    color: -color(white);
    font-family: $atlas-typewriter;
    font-weight: -weight(bold);
    font-size: 1.6rem;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: .02em;
    vertical-align: middle;
    border-radius: 0.2rem;
    background-color: #5539D2;
    padding: 2.2rem 2.8rem 2rem;
    margin-bottom: 13rem;
  }
}

.tech-stack {
  @extend %container;

  max-width: 74rem;
  margin-bottom: 22rem;

  .tech__copy {
    @extend %container;

    padding: 6rem;
    box-shadow: 10px 12px 8px 5px  #F9F8FF;

    h1 {
      font-family: $atlas-typewriter;
      font-weight: -weight(bold);
      font-size: 2rem;
      color: #261B65;
      margin-bottom: 2rem;
    }

    h2 {
      font-family: $atlas;
      font-weight: -weight(medium);
      font-size: 2.4rem;
      margin-bottom: 2rem;
    }

    h3 {
      font-family: $atlas;
      font-weight: -weight(light);
      font-size: 1.8rem;
    }
  }
}

.dev-features {
  @extend %container;

  lost-utility: clearfix;

  h1 {
    font-family: $atlas;
    font-size: 8rem;
    font-weight: -weight(bold);
    margin-bottom: 10rem;

  }

  .dev-features__container {
    padding:0 12rem;
  }

  .dev-features__col {
    lost-column: 1/2;
    max-width: 36rem;

    h3 {
      font-family: $atlas;
      font-size: 2.4rem;
      color: #261B65;
      margin-bottom: 1.7rem;
    }

    h4 {
      font-family: $atlas;
      font-weight: -weight(light);
      font-size: 1.8rem;
      margin-bottom: 5rem;
    }
  }
}

.modeler-container {
  @extend %basic-block;

  border-top: solid #BFB7D2 0.1rem;
  border-bottom: solid #BFB7D2 0.1rem;
  padding: 10rem 0;
  margin-bottom: 12rem;

  .modeler__sample {
    @extend %container;

    lost-utility: clearfix;
    padding-right: 10rem;

    h1 {
      font-family: $atlas;
      font-size: 8rem;
      font-weight: -weight(bold);
      margin-bottom: 11rem;
    }

    img {
      lost-column: 2/3;
      margin-bottom: 11rem;
      box-shadow: 10px 12px 8px 5px  #F9F8FF;
    }

    div {
      lost-column: 1/3;
      padding: 4rem 2rem 12rem 2rem;
      margin-bottom: 11rem;
    }

    h3 {
      font-family: $atlas-typewriter;
      font-weight: -weight(bold);
      font-size: 2.4rem;
      color: #1A1053;
      margin-bottom: 1.6rem;
    }

    h4 {
      font-family: $atlas;
      font-weight: -weight(regular);
      font-size: 1.8rem;
    }
  }
}

.creator {
  @extend %container;

  h1 {
    font-family: $atlas;
    font-size: 8rem;
    font-weight: -weight(bold);
    margin-bottom: 15rem;
    text-align: left;
  }

  h2 {
    font-family: $atlas;
    font-size: 3.6rem;
    font-weight: -weight(medium);
    margin-bottom: 8rem;
    text-align: left;
  }

  .creator__container {
    lost-utility: clearfix;
    margin-bottom: 12rem;

    .creator__list {
      lost-column: 1/3;

      div {
        border-left: solid rgba(85, 57, 210, .1) .3rem;
        padding: 0 2rem;
      }

      div:hover {
        border-left: solid rgba(85, 57, 210, 1) .3rem;
      }

      h3 {
        font-family: $atlas;
        font-size: 2.4rem;
        font-weight: -weight(bold);
        margin-bottom: 0.6rem;
      }

      h4 {
        font-family: $atlas;
        font-size: 1.6rem;
        font-weight: -weight(regular);
        padding-bottom: 3.8rem;
        line-height: 1.8;
      }
    }

    img {
      lost-column: 2/3;
      box-shadow: 12px 12px 5px 0px rgba(245, 244, 251, 1);
    }
  }
}

.getstarted-container {
  @extend %container;

  text-align: center;
  padding: 6.5rem 19rem;
  margin-bottom: 17rem;
  border: solid white;
  box-shadow: 10px 12px 8px 5px  #E2F8F2;

  h1 {
    font-family: $atlas;
    font-size: 5.4rem;
    margin-bottom: 4rem;
  }

  h2 {
    font-family: $atlas-typewriter;
    font-size: 1.8rem;
    line-height: 1.7;
    margin-bottom: 4rem;
  }
}

.ftbox-container {
  @extend %container;

  display: flex;
  justify-content: space-between;

  .creator-ftbox {
    lost-column: 1/3;
    border-right: solid #DEDEE9;
    padding: 0 4.5rem;
    margin-bottom: 8rem;
    display: flex;
    flex-flow: column;
    justify-content: space-between;

    h1 {
      font-family: $atlas;
      font-size: 4.4rem;
      font-weight: -weight(medium);
      margin-bottom: 2rem;
    }

    h2 {
      font-family: $atlas-typewriter;
      font-weight: -weight(regular);
      font-size: 1.8rem;
      margin-bottom: 3rem;
    }

    a {
      text-align: center;
      display: inline-block;
      color: -color(white);
      font-family: $atlas-typewriter;
      font-weight: -weight(bold);
      font-size: 1.6rem;
      text-transform: uppercase;
      line-height: 1;
      letter-spacing: .02em;
      vertical-align: middle;
      border-radius: 0.2rem;
      background-color: #5539D2;
      padding: 2.2rem 2.8rem 2rem;
      align-self: flex-start;
      max-width: 30rem;
    }
  }

  .creator-ftbox:last-of-type {
    border-right: none;
  }
}
