.pricing {
  display: block;
  position: relative;
  width: 100%;

  &__content {
    margin-bottom: 8rem;

    @include above(tablet) {
      display: flex;
      margin-bottom: 4.4rem;
    }
  }

  &__block {
    text-align: center;

    @include below(mobile) {
      display: block;

      & + * {
        margin-top: 4.4rem;
      }
    }

    @include above(tablet) {
      lost-column: 1/3 3 4rem flex;
    }
  }

  &__heading {
    @include hd-g(-color(purple-heart));

    margin-bottom: 1.8rem;
  }

  &__price {
    margin-bottom: 4rem;
  }

  &__amount {
    @include hd-c();

    position: relative;
    display: inline-block;
    vertical-align: top;

    &:before {
      content: "$";
      position: absolute;
      top: 1rem;
      right: calc(100% + 0.4rem);
      font-size: 0.5em;
      vertical-align: text-top;
    }
  }

  &__info {
    display: block;
    color: -color(shark);
    font-family: $atlas;
    font-size: 1.8rem;
    font-weight: -weight(light);

    &:first-child {
      margin-bottom: 0.4rem;
    }
  }

  &__list {
    margin-top: 4rem;

    li {
      @include copy-c();

      text-align: center;

      & + * {
        border-top: 1px solid -color(whisper);
        padding-top: 1.6rem;
        margin-top: 1.6rem;
      }
    }
  }

  &__footer {
    display: flex;

    @include below(mobile) {
      display: none;
    }
  }

  &__footer--mobile {
    margin-top: 4.4rem;

    @include above(tablet) {
      display: none;
    }
  }

  &__details {
    display: block;
    margin-top: 1.2rem;

    a {
      @include copy-c(-color(topaz));

      position: relative;
      will-change: color;
      transition: color 0.15s $ease-in-out-quart;

      &:after {
        content: "";
        position: absolute;
        left: 0;
        top: calc(100% + 0.2rem);
        width: 100%;
        height: 1px;
        background-color: -color(topaz);
        will-change: background;
        transition: background 0.15s $ease-in-out-quart;
      }

      &:hover {
        color: -color(purple-heart);

        &:after {
          background-color: -color(purple-heart);
        }
      }

      &:active {
        color: -color(bright-sun);
        transition: color 0.08s $ease-in-out-quart;

        &:after {
          background-color: -color(purple-heart);
        }
      }
    }
  }
}

.faq {
  position: relative;
  width: 100%;

  @include above(tablet) {
    display: flex;
  }

  &__block {
    text-align: left;

    @include below(mobile) {
      max-width: 66rem;
      margin-left: auto;
      margin-right: auto;

      & + * {
        margin-top: 6rem;
      }
    }

    @include above(tablet) {
      lost-column: 1/3 3 4rem flex;
    }
  }

  &__heading {
    @include hd-g(-color(purple-heart));

    margin-bottom: 2.6rem;
  }

  &__list {
    li {
      & + * {
        margin-top: 3.6rem;
      }
    }
  }

  &__question {
    @include hd-f();

    margin-bottom: 1.6rem;
  }

  &__answer {
    @include copy-b($line-height: 1.77);

    a {
      color: -color(silver-tree);
      font-weight: -weight(medium);
      will-change: color;
      transition: color 0.1s $ease-in-out-quart;

      &:hover {
        color: -color(medium-purple);
      }

      &:active {
        color: -color(bright-sun);
      }
    }
  }
}
