div,
p,
span,
li,
small,
label,
input,
select,
button,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  @include font-smoothing(on);
  text-rendering: optimizeLegibility;
}

$default-type-color: -color(shark);

// ex: Homepage hero heading
@mixin hd-a($color: $default-type-color, $line-height: 1.39) {
  color: $color;
  font-family: $atlas;
  font-size: 4.4rem;
  font-weight: -weight(medium);
  line-height: $line-height;
  letter-spacing: 0.025em;
}

// ex: Homepage bottom nav heading
@mixin hd-b($color: $default-type-color) {
  color: $color;
  font-family: $atlas;
  font-size: 3.6rem;
  font-weight: -weight(medium);
  line-height: 1.33;
}

// ex: Section heading
@mixin hd-c($color: $default-type-color) {
  color: $color;
  font-family: $atlas;
  font-size: 5.4rem;
  font-weight: -weight(medium);
  line-height: 1.2;
}

// ex: Quote text
@mixin hd-d($color: $default-type-color) {
  color: $color;
  font-family: $atlas-typewriter;
  font-size: 3.6rem;
  font-weight: -weight(regular);
  line-height: 1.33;
}

// ex: Card rubric
@mixin hd-e($color: $default-type-color) {
  color: $color;
  font-family: $atlas-typewriter;
  font-size: 1.8rem;
  font-weight: -weight(medium);
  line-height: 1.5;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

// ex: Card heading
@mixin hd-f($color: $default-type-color) {
  color: $color;
  font-family: $atlas;
  font-size: 2.4rem;
  font-weight: -weight(medium);
  line-height: 1.42;
}

// ex: Thumb list rubric
@mixin hd-g($color: $default-type-color) {
  color: $color;
  font-family: $atlas-typewriter;
  font-size: 1.6rem;
  font-weight: -weight(medium);
  line-height: 1.5;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

@mixin copy-a($color: $default-type-color, $family: $atlas) {
  color: $color;
  font-family: $family;
  font-size: 2.1rem;
  font-weight: -weight(regular);
  line-height: 1.667;
}

@mixin copy-b($color: $default-type-color, $family: $atlas, $line-height: 1.5) {
  color: $color;
  font-family: $family;
  font-size: 1.8rem;
  font-weight: -weight(regular);
  line-height: $line-height;
}

@mixin copy-c($color: $default-type-color, $family: $atlas) {
  color: $color;
  font-family: $family;
  font-size: 1.6rem;
  font-weight: -weight(regular);
  line-height: 1.75;
}
