{% extends "layouts/default.html" %}

{% from "macros/image-url.html" import imageUrl %}

{% block body_class %}body--page{% endblock %}

{% block content %}
<header class="page-header">
  <div class="page-header__inner">
    <h1 class="page-header__heading">{{ changelog.heading }}</h1>
    <p class="page-header__copy">{{ changelog.copy }}</p>
  </div>
</header>

{% if changelog.upcomingHeading %}
<section class="section">
  <img src="{{ imageUrl(changelog.upcomingBackgroundImage.s3Key) }}" class="section__background" alt="" style="top: {{ changelog.upcomingBackgroundTop }}rem; right: {{ changelog.upcomingBackgroundRight }}rem;" data-image data-bind="imageLoaded">

  <div class="section__inner">
    <div class="section__content">
      <div class="compress--large">
        <div class="card--upcoming">
          <span class="card__rubric">Coming soon</span>
          <h3 class="card__heading">{{ changelog.upcomingHeading }}</h3>

          <div class="card__content">
            {{ changelog.upcomingBodyHtml | safe }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}

<section class="section">
  <div class="section__inner">
    <div class="compress--small">
      <div class="changelog">
        <ul class="changelog__list">
          {% for change in changelog.changes %}
          <li class="change" data-date="2 weeks ago">
            <span class="change__rubric">{{ change.category }}</span>
            <h3 class="change__heading">{{ change.heading }}</h3>

            <div class="change__content">{{ change.bodyHtml | safe }}</div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>

{% endblock %}
