{% extends "layouts/default.html" %}

{% from "macros/image-url.html" import imageUrl %}

{% set base_url = "/" %}

{% block content %}
<header class="page-header">
  <div class="page-header__inner">
    <h1 class="page-header__heading">TakeShape Docs</h1>

    <form class="search">
      <div class="search__element">
        <span class="search__icon">
            <svg role="img" title="search">
              <use href="/assets/images/icons.svg#search"/>
            </svg>
        </span>

        <input type="search" placeholder="Search docs" name="search" id="search" class="search__input">
      </div>
    </form>
  </div>
</header>

<div class="layout--docs">
  <div class="layout__inner">
    <div class="layout__column">
      <nav class="docs-nav">
        <div class="docs-nav__inner">
          <ul class="docs-nav__list">
            {% for section in global.docs.toc.sections %}
            <li data-bind="component: 'accordionItem'">
              <div class="docs-nav__wrapper" data-bind="css: {'is-open': isOpen}">
                <h3 class="docs-nav__heading" data-bind="click: onClickToggle">{{ section.title }}</h3>

                <div class="docs-nav__content" data-bind="style: {height: currentHeightStyle}">
                  <ul class="line-list--green" data-accordion-content>
                    {% for doc in section.docs %}
                      {% set path = doc | route('docs') %}

                      <li {% if currentPath === path %}class="is-current"{% endif %}><a href="{{ path }}">{{ doc.title }}</a></li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
      </nav>
    </div>

    <div class="layout__column">
      <section class="section">
        <div class="content">
          <h2>{{ doc.title }}</h2>

          {{ doc.content | md | safe }}
        </div>

        <div class="pagination">
          <a href="#" class="pagination__link">
            <span class="pagination__icon">
              <svg role="img" title="arrow-left">
                <use href="/assets/images/icons.svg#arrow-left"/>
              </svg>
            </span>

            <p>API Libraries and Integrations This is an Extra-long Title</p>
          </a>

          <a href="#" class="pagination__link">
            <p>API Libraries and Integrations</p>

            <span class="pagination__icon">
              <svg role="img" title="arrow-right">
                <use href="/assets/images/icons.svg#arrow-right"/>
              </svg>
            </span>
          </a>
        </div>
      </section>

      <section class="section">
        <div class="card--join-us">
          <h3 class="card__rubric">Join us</h3>
          <p class="card__copy">Interested in joining the team as coworker or investor?</p>

          <a href="mailto:contact@takeshape.com" class="button--border">contact@takeshape.com</a>
        </div>
      </section>
    </div>
  </div>
</div>
{% endblock %}
