{% extends "layouts/default.html" %}

{% set base_url = "/" %}

{% block content %}
<header class="page-header--docs">
  <div class="page-header__inner">
    <h1 class="page-header__heading">TakeShape Docs</h1>

    <form class="search">
      <div class="search__element">
        <span class="search__icon">
            <svg role="img" title="search">
              <use xlink:href="/assets/images/icons.svg#search"/>
            </svg>
        </span>

        <input type="search" placeholder="Search docs" name="search" id="search" class="search__input">
      </div>
    </form>
  </div>
</header>

<!-- ko component: "docsMenu" -->
<div class="layout--docs" data-bind="css: {'is-open': isOpen}">
  <button class="button--open-panel" data-bind="click: onClickToggle">
    <span class="button__text">More Docs</span>

    <span class="button__icon">
      <svg role="img" title="close">
        <use xlink:href="/assets/images/icons.svg#close"/>
      </svg>
    </span>
  </button>

  <div class="layout__inner">
    <div class="layout__column">
      {% include "partials/doc-menu.html" %}
    </div>

    <div class="layout__column">
      <section class="section">

        <div class="content">
          <h2>{{ doc.title }}</h2>

          {{ doc.content | md | safe }}
        </div>

        <div class="pagination">
          <a href="#" class="pagination__link">
            <span class="pagination__icon">
              <svg role="img" title="arrow-left">
                <use xlink:href="/assets/images/icons.svg#arrow-left"/>
              </svg>
            </span>

            <p>API Libraries and Integrations This is an Extra-long Title</p>
          </a>

          <a href="#" class="pagination__link">
            <p>API Libraries and Integrations</p>

            <span class="pagination__icon">
              <svg role="img" title="arrow-right">
                <use xlink:href="/assets/images/icons.svg#arrow-right"/>
              </svg>
            </span>
          </a>
        </div>
      </section>

      <section class="section">
        <div class="card--join-us">
          <h3 class="card__rubric">Join us</h3>
          <p class="card__copy">Interested in joining the team as coworker or investor?</p>

          <a href="mailto:contact@takeshape.com" class="button--border">contact@takeshape.com</a>
        </div>
      </section>
    </div>
  </div>
</div>
<!-- /ko -->
{% endblock %}
