{% extends "layouts/default.html" %}

{% from "macros/image-url.html" import imageUrl %}

{% set base_url = "/" %}

{% block content %}
<header class="page-header">
  <div class="page-header__inner">
    <h1 class="page-header__heading">TakeShape Docs</h1>

    <form class="search">
      <div class="search__element">
        <input type="search" placeholder="Search docs" name="search" id="search" class="search__input">
      </div>
    </form>
  </div>
</header>

<div class="layout--docs">
  <div class="layout__inner">
    <div class="layout__column">
      <nav class="docs-nav">
        <div class="docs-nav__inner">
          <ul class="docs-nav__list">
            <li>
              <h3 class="docs-nav__heading">Introduction</h3>

              <ul>
                <li><a href="#">API Libraries and Integrations</a></li>
                <li><a href="#">API Libraries and Integrations</a></li>
                <li><a href="#">API Libraries and Integrations</a></li>
              </ul>
            </li>

            <li>
              <h3 class="docs-nav__heading">For Developers</h3>

              <ul class="is-open">
                <li><a href="#" class="is-current">API Libraries and Integrations</a></li>
                <li><a href="#">API Libraries and Integrations</a></li>
                <li><a href="#">API Libraries and Integrations</a></li>
              </ul>
            </li>

            <li>
              <h3 class="docs-nav__heading">For Clients</h3>

              <ul>
                <li><a href="#">API Libraries and Integrations</a></li>
                <li><a href="#">API Libraries and Integrations</a></li>
                <li><a href="#">API Libraries and Integrations</a></li>
              </ul>
            </li>

            <li>
              <h3 class="docs-nav__heading">Getting Help</h3>

              <ul>
                <li><a href="#">API Libraries and Integrations</a></li>
                <li><a href="#">API Libraries and Integrations</a></li>
                <li><a href="#">API Libraries and Integrations</a></li>
              </ul>
            </li>

            <li>
              <h3 class="docs-nav__heading">Pricing</h3>

              <ul>
                <li><a href="#">API Libraries and Integrations</a></li>
                <li><a href="#">API Libraries and Integrations</a></li>
                <li><a href="#">API Libraries and Integrations</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
    </div>

    <div class="layout__column">
      <section class="section">
        <div class="content">
          <h2>API Libraries and Integrations</h2>
          <p>Praesent mollis gravida cursus. Sed venenatis est non egestas scelerisque. Pellentesque facilisis nulla tincidunt metus pellentesque, sit amet egestas arcu gravida. In hac habitasse platea dictumst. Curabitur at nisl ac ex sodales malesuada. Etiam eget quam mollis, vestibulum elit ultrices, pellentesque turpis. Donec molestie nibh nisi, ac mollis orci congue vel. Praesent malesuada augue mauris, in efficitur tellus mattis sed. Maecenas tempor dui felis, ac vehicula dui dignissim sed. Morbi at eros mi. Etiam vitae rhoncus est, ultricies porttitor tellus. Sed iaculis massa at suscipit molestie.</p>
          <h3>Praesent Mollis Gravida</h3>
          <p>Praesent mollis gravida cursus. Sed venenatis est non egestas scelerisque. Pellentesque facilisis nulla tincidunt metus pellentesque, sit amet egestas arcu gravida. In hac habitasse platea dictumst. Curabitur at nisl ac ex sodales malesuada. Etiam eget quam mollis, vestibulum elit ultrices, pellentesque turpis. Donec molestie nibh nisi, ac mollis orci congue vel. Praesent malesuada augue mauris, in efficitur tellus mattis sed. Maecenas tempor dui felis, ac vehicula dui dignissim sed. Morbi at eros mi. Etiam vitae rhoncus est, ultricies porttitor tellus. Sed iaculis massa at suscipit molestie.</p>
          <h3>Praesent Mollis Gravida</h3>
          <p>Praesent mollis gravida cursus. Sed venenatis est non egestas scelerisque. Pellentesque facilisis nulla tincidunt metus pellentesque, sit amet egestas arcu gravida. In hac habitasse platea dictumst. Curabitur at nisl ac ex sodales malesuada. Etiam eget quam mollis, vestibulum elit ultrices, pellentesque turpis. Donec molestie nibh nisi, ac mollis orci congue vel. Praesent malesuada augue mauris, in efficitur tellus mattis sed. Maecenas tempor dui felis, ac vehicula dui dignissim sed. Morbi at eros mi. Etiam vitae rhoncus est, ultricies porttitor tellus. Sed iaculis massa at suscipit molestie.</p>
        </div>

        <div class="pagination">
          <a href="#" class="pagination__link">
            <p>API Libraries and Integrations This is an Extra-long Title</p>
          </a>

          <a href="#" class="pagination__link">
            <p>API Libraries and Integrations</p>
          </a>
        </div>
      </section>

      <section class="section">
        <div class="card--join-us">
          <h3 class="card__rubric">Join us</h3>
          <p class="card__copy">Interested in joining the team as coworker or investor?</p>

          <a href="#" class="button--border">contact@takeshape.com</a>
        </div>
      </section>
    </div>
  </div>
</div>
{% endblock %}
