{% extends "layouts/default.html" %}

{% block body_class %}body--page{% endblock %}

{% block content %}
  <header class="page-header">
    <div class="page-header__inner">
      {% if page.pageHeaderHeading | length > 1 %}<h1
        class="page-header__heading">{{ page.pageHeaderHeading }}</h1>{% endif %}
      {% if page.pageHeaderCopy | length > 1 %}<p
        class="page-header__copy">{{ page.pageHeaderCopy }}</p>{% endif %}
      {% if page.pageHeaderCta | length > 1 %}<a href="{{ page.pageHeaderUrl }}"
                                                     class="button--border">{{ page.pageHeaderCta }}</a>{% endif %}
    </div>
  </header>

  <section class="section--features">
    <div class="section__background" style="top: -22rem; left: -10rem;">
      <div class="illustration" data-anim-type="morph" data-anim-reps="22"  data-anim-duration="8000" data-anim-path="M10.641,109.261c0,0 -7.961,-15.828 0.251,-22.258c14.796,-11.586 41.336,11.879 72.636,-1.321c31.3,-13.2 23.896,-46.21 42.903,-45.528c22.629,0.812 4.651,27.583 10.83,35.811c5.914,7.875 52.631,-10.424 50.534,16.374c-2.006,25.62 -58.582,12.617 -39.458,45.498c18.503,31.813 1.009,45.152 -43.924,41.528c-28.239,-2.277 -30.532,-21.732 -59.352,-18.5c-42.982,4.821 -16.752,-14.269 -34.42,-51.604Z" data-bind="illustration">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200">
          <path stroke="#5539d2" stroke-opacity="0.5" fill="transparent" d="M2.861,135.765c0,0 1.6,-42.4 8.7,-59.8c7.1,-17.4 17.8,-33.3 49.1,-46.5c31.3,-13.2 43.3,-14.6 59.6,-4.8c16.3,9.8 8.5,45.5 17,51.3c8.5,5.8 23.6,-5.5 29.1,-8c5.5,-2.6 25.7,-10.1 30.7,43.1c5,53.2 -98.1,23.5 -104.3,23c-6.2,-0.5 -19.8,-2.1 -47.7,26.8c-27.9,28.9 -43.7,33.9 -42.2,-25.1Z"/>
        </svg>
      </div>
    </div>

    <div class="section__inner">
      <header class="section__header">
        <h2 class="section__heading">Developers</h2>
      </header>

      <div class="section__content">
        <div class="compress--medium">
          <div class="card--feature">
            <span class="card__rubric">{{ page.developersRubric }}</span>
            <h3 class="card__heading">{{ page.developersHeading }}</h3>
            <p class="card__copy">{{ page.developersCopy }}</p>
          </div>

          <ul class="column-list">
            {% for feature in page.developerFeatures %}
              <li>
                <h4 class="column-list__heading">{{ feature.developerFeatureHeading }}</h4>
                {{ feature.developerFeatureCopy | md | safe }}
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="section--features">
    <div class="section__inner">
      <header class="section__header">
        <h2 class="section__heading">Modelers</h2>
      </header>

      <div class="section__content">
        <div class="compress--medium">
          <ul class="thumb-list">
            {% for feature in page.modelerFeatures %}
              <li>
                <div class="thumb-list__image">
                  <img src="{{ feature.modelerFeatureImage.s3Key | image }}" class="thumb-list__image" alt=""
                       data-image data-bind="imageLoaded"/>
                </div>

                <div class="thumb-list__content">
                  <span class="thumb-list__rubric">{{ feature.modelerFeatureRubric }}</span>
                  <h3 class="thumb-list__heading">{{ feature.modelerFeatureHeading }}</h3>
                  <p class="thumb-list__copy">{{ feature.modelerFeatureCopy }}</p>
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>

        <div class="cycler--mobile" data-bind="component: 'slider'">
          <div class="cycler__inner" data-bind="attr: {'data-slide': slideNum()}">
            <div class="cycler__content">
              <div class="cycler__slides">
                {% for slide in page.modelerFeatures %}
                  <div class="cycler__slide">
                    <img src="{{ slide.modelerFeatureImage.s3Key | image }}" alt="" data-image
                         data-bind="imageLoaded"/>
                  </div>
                {% endfor %}
              </div>
            </div>

            <ul class="cycler__pagination">
              {% for slide in page.modelerFeatures %}
              <li data-bind="click: goToSlide({{ loop.index }})">
                {% endfor %}
            </ul>

            <div class="cycler__description">
              <div class="cycler__content">
                <div class="cycler__slides">
                  {% for slide in page.modelerFeatures %}
                    <div class="cycler__slide">
                      <h4 class="cycler__heading">{{ slide.modelerFeatureHeading }}</h4>
                      <p class="cycler__copy">{{ slide.modelerFeatureCopy }}</p>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section--features">
    <div class="section__inner">
      <header class="section__header">
        <h2 class="section__heading">Creators</h2>
      </header>

      <div class="section__content">
        {% for feature in page.creatorFeatures %}
          <h3 class="section__subheading">{{ feature.creatorFeatureHeading }}</h3>

          <div class="cycler" data-bind="component: 'slider'">
            <div class="cycler__inner" data-bind="attr: {'data-slide': slideNum()}">
              <div class="cycler__content">
                <div class="cycler__slides">
                  {% for slide in feature.creatorFeatureCycler %}
                    <div class="cycler__slide">
                      <img src="{{ slide.cyclerImage.s3Key | image }}" alt="" data-image data-bind="imageLoaded"/>
                    </div>
                  {% endfor %}
                </div>
              </div>

              <div class="cycler__nav">
                <ul class="line-list--purple">
                  {% for slide in feature.creatorFeatureCycler %}
                    <li data-bind="click: goToSlide({{ loop.index }})">
                      <h4 class="line-list__heading">{{ slide.cyclerHeading }}</h4>
                      <p class="line-list__copy">{{ slide.cyclerCopy }}</p>
                    </li>
                  {% endfor %}
                </ul>
              </div>

              <ul class="cycler__pagination">
                {% for slide in feature.creatorFeatureCycler %}
                <li data-bind="click: goToSlide({{ loop.index }})">
                  {% endfor %}
              </ul>

              <div class="cycler__description">
                <div class="cycler__content">
                  <div class="cycler__slides">
                    {% for slide in feature.creatorFeatureCycler %}
                      <div class="cycler__slide">
                        <h4 class="cycler__heading">{{ slide.cyclerHeading }}</h4>
                        <p class="cycler__copy">{{ slide.cyclerCopy }}</p>
                      </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <section class="section">
    <div class="section__inner">
      <div class="compress--large">
        <div class="card--get-started">
          <header class="section__header">
            <h2 class="section__heading">{{ page.getStartedHeading }}</h2>
            <p class="section__copy">{{ page.getStartedCopy }}</p>
          </header>

          <a href="{{ page.getStartedLink }}" class="button">{{ page.getStartedCta }}</a>
        </div>
      </div>
    </div>
  </section>

  <div class="bottom-nav">
    <div class="bottom-nav__inner">
      {% for item in page.bottomNav %}
        <div class="bottom-nav__block">
          <div class="bottom-nav__content">
            <h3 class="bottom-nav__heading">{{ item.bottomNavHeading }}</h3>
            <p class="bottom-nav__copy">{{ item.bottomNavCopy }}</p>
          </div>

          <footer class="bottom-nav__footer">
            <a href="{{ item.bottomNavUrl }}" class="button--border">{{ item.bottomNavCta }}</a>
          </footer>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
