{% extends "layouts/default.html" %}

{% from "macros/image-url.html" import imageUrl %}

{% set base_url = "/" %}

{% block body_class %}body--page{% endblock %}

{% block content %}
<header class="page-header">
  <div class="page-header__inner">
    <h1 class="page-header__heading">TakeShape Features</h1>
    <p class="page-header__copy">Explore everything TakeShape has to offer.</p>
    <a href="#" class="button--border">View Our Features Index</a>
  </div>
</header>

<section class="section--features">
  <img src="/assets/images/hp2.png" class="section__background" alt="" style="top: -22rem; left: -10rem;">

  <div class="section__inner">
    <header class="section__header">
      <h2 class="section__heading">Developers</h2>
    </header>

    <div class="section__content">
      <div class="compress--medium">
        <div class="card--feature">
          <span class="card__rubric">Tech Stack</span>
          <h3 class="card__heading">TakeShape is built on rock solid technologies to keep you up and running for the long term.</h3>
          <p class="card__copy">We run on an AWS serverless architecture. We use triple-redundant DynamoDB and S3 to store your content and assets. We want your content to be available lickey quick so we front everything with a CDN. Our current unit test code coverage is 65% and rising.</p>
        </div>

        <ul class="column-list">
          <li>
            <h4 class="column-list__heading">Multiple Environments</h4>
            <p class="column-list__copy">Separate environments for developer, staging, and production. Move seamlessly between them with automatic migrations.</p>
          </li>

          <li>
            <h4 class="column-list__heading">Multiple Projects</h4>
            <p class="column-list__copy">A single login for all of your TakeShape projects.</p>
          </li>

          <li>
            <h4 class="column-list__heading">API</h4>
            <p class="column-list__copy">Supports both high-throughput reads and writes. REST and GraphQL endpoints.</p>
          </li>

          <li>
            <h4 class="column-list__heading">Hosting</h4>
            <p class="column-list__copy">We host your site with options for: custom domains, HTTPS, case-insensitive paths, URL redirects, and atomic deploys.</p>
          </li>

          <li>
            <h4 class="column-list__heading">Internationalization (I18N)</h4>
            <p class="column-list__copy">Add support for any language you wish.</p>
          </li>

          <li>
            <h4 class="column-list__heading">Search</h4>
            <p class="column-list__copy">Faceted search, geo search, full text search.</p>
          </li>

          <li>
            <h4 class="column-list__heading">CLI</h4>
            <p class="column-list__copy">Use the ```ts``` command line tool to create and deploy project.</p>
          </li>

          <li>
            <h4 class="column-list__heading">Static Site Generator</h4>
            <p class="column-list__copy">Built-in static site generator with a flexible asset pipeline, local image proxy, and easy-to-use templating language (Nunjucks).</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="section--features">
  <div class="section__inner">
    <header class="section__header">
      <h2 class="section__heading">Modelers</h2>
    </header>

    <div class="section__content">
      <div class="compress--medium">
        <ul class="thumb-list">
          <li>
            <div class="thumb-list__image">
              <img src="/assets/images/contentpic1.png" class="thumb-list__image" alt="" />
            </div>

            <div class="thumb-list__content">
              <span class="thumb-list__rubric">Content Agnostic</span>
              <h3 class="thumb-list__heading">It's your content, there's no single right way to model it.</h3>
              <p class="thumb-list__copy">TakeShape allows you to build your content model to fit anything the designers throw at you.</p>
            </div>
          </li>

          <li>
            <div class="thumb-list__image">
              <img src="/assets/images/contentpic1.png" class="thumb-list__image" alt="" />
            </div>

            <div class="thumb-list__content">
              <span class="thumb-list__rubric">Content Modeling GUI</span>
              <h3 class="thumb-list__heading">We’ve made modeling a drag and drop experience.</h3>
              <p class="thumb-list__copy">We want it to be as easy as possible for technical and non-technical users to model content in TakeShape. If you’re a product manager we want you to be able to model.</p>
            </div>
          </li>

          <li>
            <div class="thumb-list__image">
              <img src="/assets/images/contentpic1.png" class="thumb-list__image" alt="" />
            </div>

            <div class="thumb-list__content">
              <span class="thumb-list__rubric">Schemas</span>
              <h3 class="thumb-list__heading">Schemas are independent of form definitions</h3>
              <p class="thumb-list__copy">They also have the ability to validate and hold defaults. You can import and export them too!</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="section--features">
  <div class="section__inner">
    <header class="section__header">
      <h2 class="section__heading">Creators</h2>
    </header>

    <div class="section__content">
      <!-- ko with: $root.components.slider -->
      <div class="cycler" data-bind="attr: { 'data-slide': slideNum() }">
        <h3 class="cycler__heading">Feel in control</h3>

        <div class="cycler__inner">
          <div class="cycler__nav">
            <ul class="line-list--purple">
              <li data-bind="click: goToSlide(1)">
                <h4 class="line-list__heading">Drafts</h4>
                <p class="line-list__copy">Draft your content before publishing it to the world</p>
              </li>

              <li data-bind="click: goToSlide(2)">
                <h4 class="line-list__heading">Content Preview</h4>
                <p class="line-list__copy">Preview your changes before they get updated on the live site</p>
              </li>

              <li data-bind="click: goToSlide(3)">
                <h4 class="line-list__heading">Timed Publishing</h4>
                <p class="line-list__copy">Publish your content at a specific time in the future. Set a time for your content to expire.</p>
              </li>
            </ul>
          </div>

          <div class="cycler__content">
            <div class="cycler__slides">
              <div class="cycler__slide">
                <img src="/assets/images/contentpic1.png" alt="" />
              </div>

              <div class="cycler__slide">
                <img src="/assets/images/contentpic2.png" alt="" />
              </div>

              <div class="cycler__slide">
                <img src="/assets/images/contentpic2.png" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /ko -->

      <!-- ko with: $root.components.slider -->
      <div class="cycler" data-bind="attr: { 'data-slide': slideNum() }">
        <h3 class="cycler__heading">Made for Collaboration</h3>

        <div class="cycler__inner">
          <div class="cycler__content">
            <div class="cycler__slides">
              <div class="cycler__slide">
                <img src="/assets/images/contentpic1.png" alt="" />
              </div>

              <div class="cycler__slide">
                <img src="/assets/images/contentpic2.png" alt="" />
              </div>

              <div class="cycler__slide">
                <img src="/assets/images/contentpic2.png" alt="" />
              </div>
            </div>
          </div>

          <div class="cycler__nav">
            <ul class="line-list--purple">
              <li data-bind="click: goToSlide(1)">
                <h4 class="line-list__heading">User accounts</h4>
                <p class="line-list__copy">Invite, collaborate, and set permissions for other users.</p>
              </li>

              <li data-bind="click: goToSlide(2)">
                <h4 class="line-list__heading">See who else is editing</h4>
                <p class="line-list__copy">View who is online at the same time as you.</p>
              </li>

              <li data-bind="click: goToSlide(3)">
                <h4 class="line-list__heading">Content locking</h4>
                <p class="line-list__copy">Prevent others from changing certain content. Unlock and view who locked the page.</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- /ko -->

      <!-- ko with: $root.components.slider -->
      <div class="cycler" data-bind="attr: { 'data-slide': slideNum() }">
        <h3 class="cycler__heading">Delightful Creation</h3>

        <div class="cycler__inner">
          <div class="cycler__nav">
            <ul class="line-list--purple">
              <li data-bind="click: goToSlide(1)">
                <h4 class="line-list__heading">Asset Library</h4>
                <p class="line-list__copy">The asset library holds all the files for your project. It is searchable, sortable, and has the ability to attach metadata to files.</p>
              </li>

              <li data-bind="click: goToSlide(2)">
                <h4 class="line-list__heading">Forms</h4>
                <p class="line-list__copy">WYSIWYG rich text editing based on draft.js with deterministic output, infinitely nestable repeaters, and over 20 (and growing) form types.</p>
              </li>
            </ul>
          </div>

          <div class="cycler__content">
            <div class="cycler__slides">
              <div class="cycler__slide">
                <img src="/assets/images/contentpic1.png" alt="" />
              </div>

              <div class="cycler__slide">
                <img src="/assets/images/contentpic2.png" alt="" />
              </div>

              <div class="cycler__slide">
                <img src="/assets/images/contentpic2.png" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /ko -->
    </div>
  </div>
</section>

<!--<div class="modeler-container">
  <div class="modeler__sample">
    <h1>Modeler</h1>
    <img src="/assets/images/modeler1.png" alt="">

    <div>
      <h3>Content Agnostic</h3>
      <h4>It's your content, there's no single right way to model it. TakeShape allows you to build your content model fit anything can be represented in a _ </h4>
    </div>

  </div>

  <div class="modeler__sample">
    <img src="/assets/images/modeler1.png" class="modeler__offsetpic" alt="">

    <div>
      <h3>Content Modeling GUI</h3>
      <h4>We want it to be as easy as possible for technical and non-technical users to model content in TakeShape. We've made modleing a drag and drop experience. If you're a product manager we want you to be able to model.</h4>
    </div>

  </div>

  <div class="modeler__sample">
    <img src="/assets/images/modeler1.png" alt="">

    <div>
      <h3>Schemas</h3>
      <h4>Schemas are independet of form definitions and have the ability to validate and hold defaults. You can import/export them too.</h4>
    </div>

  </div>
</div>

<div class="creator">
  <h1>Creator</h1>
  <h2>Feel in control</h2>

  <div class="creator__container">
    <div class="creator__list">
      <div>
        <h3>Drafts</h3>
        <h4>Draft your content before publishing it to the world.</h4>
      </div>
      <div>
        <h3>Content Preview</h3>
        <h4>Preview your changes before they get updated on the live site.</h4>
      </div>
      <div>
        <h3>Timed Publishing</h3>
        <h4>Publish your content at a specific time in the future. Set a time for your content to expire.</h4>
      </div>
    </div>
    <img src="/assets/images/creator1-2.png" alt="">
  </div>

  <h2>Made for collaboration</h2>

  <div class="creator__container">
    <img src="/assets/images/creator1-2.png" alt="">
    <div class="creator__list">
      <div>
        <h3>User Accounts</h3>
        <h4>Invite, collaborate and set permissions for other users.</h4>
      </div>
      <div>
        <h3>See who else is editing</h3>
        <h4>View who is online at the same time as you.</h4>
      </div>
      <div>
        <h3>Content Locking</h3>
        <h4>Prevent others from changing certain content. Unlock and view who locked the page.</h4>
      </div>
    </div>
  </div>

  <h2>Delightful creation</h2>

  <div class="creator__container">
    <div class="creator__list">
      <div>
        <h3>Asset Library</h3>
        <h4>The asset library holds all the file for your project. It is searchable, sortable and has the ability to attach metadata to files.</h4>
      </div>

      <div>
        <h3>Forms</h3>
        <h4>WYSIWYG rich text editing based on  draft.js with deterministic output, infinitely nestable repeaters and over 20 (and growing) from types.</h4>
      </div>

    </div>

    <img src="/assets/images/creator3.png" alt="">

  </div>

</div>-->

<section class="section">
  <div class="section__inner">
    <div class="compress--large">
      <div class="card--get-started">
        <header class="section__header">
          <h2 class="section__heading">Ready to get started?</h2>
          <p class="section__copy">Start your 14-day free trial today. No credit card required.</p>
        </header>

        <a href="#" class="button">Install TakeShape now</a>
      </div>
    </div>
  </div>
</section>

<div class="bottom-nav">
  <div class="bottom-nav__inner">
    <div class="bottom-nav__block">
      <div class="bottom-nav__content">
        <h3 class="bottom-nav__heading">Documented</h3>
        <p class="bottom-nav__copy">Our documentation includes common usage patterns and starter schemas.</p>
      </div>

      <footer class="bottom-nav__footer">
        <a href="#" class="button--border">View the Docs</a>
      </footer>
    </div>

    <div class="bottom-nav__block">
      <div class="bottom-nav__content">
        <h3 class="bottom-nav__heading">Support</h3>
        <p class="bottom-nav__copy">Can't find what you're looking for or need some help? Look no further.</p>
      </div>

      <footer class="bottom-nav__footer">
        <a href="#" class="button--border">Get Support</a>
      </footer>
    </div>

    <div class="bottom-nav__block">
      <div class="bottom-nav__content">
        <h3 class="bottom-nav__heading">Pricing</h3>
        <p class="bottom-nav__copy">We have flexible pricing to accomodate all types of projects- big or small.</p>
      </div>

      <footer class="bottom-nav__footer">
        <a href="#" class="button--border">View Pricing Options</a>
      </footer>
    </div>
  </div>
</div>
{% endblock %}
