{% extends "layouts/default.html" %}

{% from "macros/image-url.html" import imageUrl %}

{% set base_url = "/" %}

{% block body_class %}body--homepage{% endblock %}

{% block content %}
<div class="hero">
  <div class="hero__background">
    <img src="/assets/images/hp1.png" class="hero__image" alt="">
  </div>

  <div class="hero__inner">
    <div class="hero__content">
      <h1 class="hero__heading">Empowering creative teams to develop content managed websites.</h1>
      <p class="hero__copy">The CMS, API, and static site generator you've been dreaming of.</p>

      <a href="#" class="button">Try TakeShape for Free</a>
    </div>
  </div>
</div>

<!--<div class="features-container">
  <div class="feature">
    <div class="feature__img"></div>
    <h2>Feature</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  </div>

  <div class="feature">
    <div class="feature__img"></div>
    <h2>Feature</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  </div>

  <div class="feature">
    <div class="feature__img"></div>
    <h2>Feature</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  </div>

</div>

<div class="ko">
  <div class="interface-display">
    <img src="/assets/images/hp2.png" class="interface__img" alt="">

    <div class="interface__text-links">
      <h1>There is something for everyone.</h1>
      <a href="#" data-bind="event: {mouseover: setSelected('modeler')}">Modeler</a>
      <a href="#" data-bind="event: {mouseover: setSelected('editor')}">Editor</a>
      <a href="#" data-bind="event: {mouseover: setSelected('developer')}">Developer</a>
    </div>
  </div>

  <div data-bind="attr: {class: className('modeler')}">
    <div class="slide__text">
      <h2>Modelers lorem ipsum</h2>
      <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium aliquid amet aspernatur aut consequuntur delectus dolore dolores eligendi</h3>
    </div>

    <div class="interface__imgs">
      <img alt="" src="contentpic1.png">
    </div>

  </div>

  <div data-bind="attr: {class: className('editor')}">
    <div class="slide__text">
      <h2>Image Two!</h2>
      <h3>This is text for image two.</h3>
    </div>

    <div class="interface__imgs">
      <img alt="" src="contentpic2.png">
    </div>

  </div>

  <div data-bind="attr: {class: className('developer')}">
    <div class="slide__text">
      <h2>Image Three!</h2>
      <h3>You Better believe that this is text for image three.</h3>
    </div>

    <div class="interface__imgs">
      <img alt="" src="contentpic3.png" >
    </div>

  </div>
</div>

<div class="ko">
  <div class="interface2">
    <img src="/assets/images/hp3.png" class="interface2__img" alt="">

    <div class="interface2__text">
      <h1>An intuitive interface- for every user.</h1>
      <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi beatae cumque, delectus dolor esse.</h3>
    </div>

    <div class="interface2__feature-container">
      <div class="interface2__feature" data-bind="event: {mouseover: setSelected('feature1')}">
        <h2>Feature 1</h2>
        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
      </div>

      <div class="interface2__feature" data-bind="event: {mouseover: setSelected('feature2')}">
        <h2>Feature 2</h2>
        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
      </div>

      <div class="interface2__feature" data-bind="event: {mouseover: setSelected('feature3')}">
        <h2>Feature 3</h2>
        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
      </div>

    </div>

  </div>

  <div class="interface2__imgs">
    <div data-bind="attr: {class: className('feature1')}">
      <img alt="" src="contentpic1.png" >
    </div>

    <div data-bind="attr: {class: className('feature2')}">
      <img alt="" src="contentpic2.png" >
    </div>

    <div data-bind="attr: {class: className('feature3')}">
      <img alt="" src="contentpic3.png" >
    </div>
  </div>
</div>

<div class="ko">
  <div class="interface3">
    <img src="/assets/images/hp4.png" class="interface3__img" alt="">

    <div class="interface3__text">
      <h1>An intuitive interace- for ever user.</h1>
    </div>

    <div class="interface3__imgs">
      <div data-bind="attr: {class: className('user1')}">
        <img alt="" src="contentpic1.png" >
      </div>

      <div data-bind="attr: {class: className('user2')}">
        <img alt="" src="contentpic2.png" >
      </div>

      <div data-bind="attr: {class: className('user3')}">
        <img alt="" src="contentpic3.png" >
      </div>
    </div>

    <div class="interface3__users-container">
      <div class="interface3__user" data-bind="event: {mouseover: setSelected('user1')}">
        <h2>User 1</h2>
        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
      </div>

      <div class="interface3__user" data-bind="event: {mouseover: setSelected('user2')}">
        <h2>User 2</h2>
        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
      </div>

      <div class="interface3__user" data-bind="event: {mouseover: setSelected('user3')}">
        <h2>User 3</h2>
        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
      </div>
    </div>
  </div>
</div>-->

<section class="section--home">
  <img src="/assets/images/hp5.png" class="section__background" alt="" style="top: -29rem; left: 4rem;">

  <div class="section__inner">
    <div class="quote">
      <div class="quote__image">
        <img src="/assets/images/image02.png" alt="" />
      </div>

      <blockquote class="quote__content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed egestas est in elementum placerat.</p>

        <cite>
          <span>Frances Morgan</span>
          <span>Vice President of Sales @ SalesPenny</span>
        </cite>
      </blockquote>
    </div>
  </div>
</section>

<section class="section--home">
  <img src="/assets/images/hp6.png" class="section__background" alt="" style="top: -35rem; right: 3rem;">

  <div class="section__inner">
    <header class="section__header">
      <h2 class="section__heading">Ready to get started?</h2>
      <p class="section__copy">Start your 14-day free trial today. No credit card required.</p>
    </header>

    <a href="#" class="button">Install TakeShape now</a>
  </div>
</section>

<div class="bottom-nav">
  <div class="bottom-nav__inner">
    <div class="bottom-nav__block">
      <div class="bottom-nav__content">
        <h3 class="bottom-nav__heading">About TakeShape</h3>
        <p class="bottom-nav__copy">Read our story and how Takeshape came to be.</p>
      </div>

      <footer class="bottom-nav__footer">
        <a href="#" class="button--border">Read our Manifesto</a>
      </footer>
    </div>

    <div class="bottom-nav__block">
      <div class="bottom-nav__content">
        <h3 class="bottom-nav__heading">Features</h3>
        <p class="bottom-nav__copy">Learn more about what features TakeShape has to offer.</p>
      </div>

      <footer class="bottom-nav__footer">
        <a href="#" class="button--border">Explore features</a>
      </footer>
    </div>

    <div class="bottom-nav__block">
      <div class="bottom-nav__content">
        <h3 class="bottom-nav__heading">Pricing</h3>
        <p class="bottom-nav__copy">We have flexible pricing to accomodate all types of projects- big or small.</p>
      </div>

      <footer class="bottom-nav__footer">
        <a href="#" class="button--border">View Pricing Options</a>
      </footer>
    </div>
  </div>
</div>
{% endblock %}
