{% extends "layouts/default.html" %}

{% from "macros/image-url.html" import imageUrl %}

{% set base_url = "/" %}

{% block body_class %}body--homepage{% endblock %}

{% block content %}
<div class="hero">
  <div class="hero__background">
    <img src="/assets/images/hp1.png" class="hero__image" alt="">
  </div>

  <div class="hero__inner">
    <div class="hero__content">
      <h1 class="hero__heading">Empowering creative teams to develop content managed websites.</h1>
      <p class="hero__copy">The CMS, API, and static site generator you've been dreaming of.</p>

      <a href="#" class="button">Try TakeShape for Free</a>
    </div>
  </div>
</div>

<div class="strip-list">
  <div class="strip-list__inner">
    <div class="strip-list__block">
      <div class="strip-list__image">
        <img src="/assets/images/contentpic1.png" alt="" />
      </div>

      <h3 class="strip-list__heading">Feature 1</h3>
      <p class="strip-list__copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>

    <div class="strip-list__block">
      <div class="strip-list__image">
        <img src="/assets/images/contentpic1.png" alt="" />
      </div>

      <h3 class="strip-list__heading">Feature 2</h3>
      <p class="strip-list__copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>

    <div class="strip-list__block">
      <div class="strip-list__image">
        <img src="/assets/images/contentpic1.png" alt="" />
      </div>

      <h3 class="strip-list__heading">Feature 3</h3>
      <p class="strip-list__copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </div>
</div>

<section class="section--home">
  <img src="/assets/images/hp5.png" class="section__background" alt="" style="top: -29rem; left: 4rem;">

  <div class="section__inner">
    <header class="section__header">
      <h2 class="section__heading">An intuitive interface – for every user.</h2>
    </header>

    <div class="cycler" data-bind="component: 'slider'">
      <div class="cycler__inner" data-bind="attr: {'data-slide': slideNum()}">
        <div class="cycler__content">
          <div class="cycler__slides">
            <div class="cycler__slide">
              <img src="/assets/images/contentpic1.png" alt="" />
            </div>

            <div class="cycler__slide">
              <img src="/assets/images/contentpic2.png" alt="" />
            </div>

            <div class="cycler__slide">
              <img src="/assets/images/contentpic2.png" alt="" />
            </div>
          </div>
        </div>

        <div class="cycler__nav">
          <ul class="line-list--green">
            <li data-bind="click: goToSlide(1)">
              <h4 class="line-list__heading">User 1</h4>
              <p class="line-list__copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </li>

            <li data-bind="click: goToSlide(2)">
              <h4 class="line-list__heading">User 2</h4>
              <p class="line-list__copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </li>

            <li data-bind="click: goToSlide(3)">
              <h4 class="line-list__heading">User 3</h4>
              <p class="line-list__copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section--home">
  <img src="/assets/images/hp5.png" class="section__background" alt="" style="top: -29rem; left: 4rem;">

  <div class="section__inner">
    <div class="compress--medium">
      <div class="quote">
        <div class="quote__image">
          <img src="/assets/images/image02.png" alt="" />
        </div>

        <blockquote class="quote__content">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed egestas est in elementum placerat.</p>

          <cite>
            <span>Frances Morgan</span>
            <span>Vice President of Sales @ SalesPenny</span>
          </cite>
        </blockquote>
      </div>
    </div>
  </div>
</section>

<section class="section--home">
  <img src="/assets/images/hp6.png" class="section__background" alt="" style="top: -35rem; right: 3rem;">

  <div class="section__inner">
    <header class="section__header">
      <h2 class="section__heading">Ready to get started?</h2>
      <p class="section__copy">Start your 14-day free trial today. No credit card required.</p>
    </header>

    <a href="#" class="button">Install TakeShape now</a>
  </div>
</section>

<div class="bottom-nav">
  <div class="bottom-nav__inner">
    <div class="bottom-nav__block">
      <div class="bottom-nav__content">
        <h3 class="bottom-nav__heading">About TakeShape</h3>
        <p class="bottom-nav__copy">Read our story and how Takeshape came to be.</p>
      </div>

      <footer class="bottom-nav__footer">
        <a href="#" class="button--border">Read our Manifesto</a>
      </footer>
    </div>

    <div class="bottom-nav__block">
      <div class="bottom-nav__content">
        <h3 class="bottom-nav__heading">Features</h3>
        <p class="bottom-nav__copy">Learn more about what features TakeShape has to offer.</p>
      </div>

      <footer class="bottom-nav__footer">
        <a href="#" class="button--border">Explore features</a>
      </footer>
    </div>

    <div class="bottom-nav__block">
      <div class="bottom-nav__content">
        <h3 class="bottom-nav__heading">Pricing</h3>
        <p class="bottom-nav__copy">We have flexible pricing to accomodate all types of projects- big or small.</p>
      </div>

      <footer class="bottom-nav__footer">
        <a href="#" class="button--border">View Pricing Options</a>
      </footer>
    </div>
  </div>
</div>
{% endblock %}
