{% extends "layouts/default.html" %}

{% from "macros/image-url.html" import imageUrl %}

{% set base_url = "/" %}

{% block body_class %}body--homepage{% endblock %}

{% block content %}
<div class="hero">
  <div class="hero__background">
    <div class="illustration" data-anim-type="rotate" data-anim-reps="22" data-anim-delay="80" data-anim-duration="4000" data-anim-elasticity="700" data-anim-translate-x="-0.5" data-anim-translate-y="0.4" data-bind="illustration">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 202 202">
        <path fill="#fff" d="M200.5,0.5v200H0.5V0.5h200m1-1H-0.5v202h202V-0.5h0Z"/>
      </svg>
    </div>
  </div>

  <div class="hero__inner">
    <div class="hero__content">
      <h1 class="hero__heading">{{ homepage.heroHeading }}</h1>
      <p class="hero__copy">{{ homepage.heroSubheading }}</p>

      <a href="#" class="button">{{ homepage.heroCta }}</a>
    </div>
  </div>
</div>

<div class="strip-list">
  <div class="strip-list__inner">
    {% for feature in homepage.features %}
    <div class="strip-list__block">
      <div class="strip-list__image">
        <img src="{{ imageUrl(feature.featureImage.s3Key) }}" alt="{{ feature.featureTitle }}" data-image data-bind="imageLoaded"/>
      </div>

      <h3 class="strip-list__heading">{{ feature.featureTitle }}</h3>
      <p class="strip-list__copy">{{ feature.featureCopy }}</p>
    </div>
    {% endfor %}
  </div>
</div>

<section class="section--home">
  <div class="section__background" style="width: 500px; height: 500px; top: {{ homepage.sliderBackgroundTop }}rem; right: {{ homepage.sliderBackgroundRight }}rem;">
    <div class="illustration" data-anim-type="morph" data-anim-reps="22"  data-anim-duration="8000" data-anim-path="M10.641,109.261c0,0 -7.961,-15.828 0.251,-22.258c14.796,-11.586 41.336,11.879 72.636,-1.321c31.3,-13.2 23.896,-46.21 42.903,-45.528c22.629,0.812 4.651,27.583 10.83,35.811c5.914,7.875 52.631,-10.424 50.534,16.374c-2.006,25.62 -58.582,12.617 -39.458,45.498c18.503,31.813 1.009,45.152 -43.924,41.528c-28.239,-2.277 -30.532,-21.732 -59.352,-18.5c-42.982,4.821 -16.752,-14.269 -34.42,-51.604Z" data-bind="illustration">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200">
        <path stroke="#5539d2" stroke-opacity="0.5" fill="transparent" d="M2.861,135.765c0,0 1.6,-42.4 8.7,-59.8c7.1,-17.4 17.8,-33.3 49.1,-46.5c31.3,-13.2 43.3,-14.6 59.6,-4.8c16.3,9.8 8.5,45.5 17,51.3c8.5,5.8 23.6,-5.5 29.1,-8c5.5,-2.6 25.7,-10.1 30.7,43.1c5,53.2 -98.1,23.5 -104.3,23c-6.2,-0.5 -19.8,-2.1 -47.7,26.8c-27.9,28.9 -43.7,33.9 -42.2,-25.1Z"/>
      </svg>
    </div>
  </div>

  <div class="section__inner">
    <header class="section__header">
      <h2 class="section__heading">{{ homepage.sliderHeading }}</h2>
    </header>

    <div class="cycler" data-bind="component: 'slider'">
      <div class="cycler__inner" data-bind="attr: {'data-slide': slideNum()}">
        <div class="cycler__content">
          <div class="cycler__slides">
            {% for slide in homepage.slides %}
            <div class="cycler__slide">
              <img src="{{ imageUrl(slide.slideImage.s3Key) }}" alt="{{ slide.slideHeading }}" data-image data-bind="imageLoaded"/>
            </div>
            {% endfor %}
          </div>
        </div>

        <div class="cycler__nav">
          <ul class="line-list--green">
            {% for slide in homepage.slides %}
            <li data-bind="click: goToSlide({{ loop.index }})">
              <h4 class="line-list__heading">{{ slide.slideHeading }}</h4>
              <p class="line-list__copy">{{ slide.slideCopy }}</p>
            </li>
            {% endfor %}
          </ul>
        </div>

        <ul class="cycler__pagination">
          {% for slide in homepage.slides %}
          <li data-bind="click: goToSlide({{ loop.index }})">
          {% endfor %}
        </ul>

        <div class="cycler__description">
          <div class="cycler__content">
            <div class="cycler__slides">
              {% for slide in homepage.slides %}
              <div class="cycler__slide">
                <h4 class="cycler__heading">{{ slide.slideHeading }}</h4>
                <p class="cycler__copy">{{ slide.slideCopy }}</p>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section--home">
  <div class="section__background" style="width: 500px; height: 500px; top: {{ homepage.quoteBackgroundTop }}rem; left: {{ homepage.quoteBackgroundLeft }}rem;">
    <div class="illustration" data-anim-type="morph" data-anim-reps="22"  data-anim-duration="14000" data-anim-translate-x="1" data-anim-translate-y="0.4" data-anim-path="M12.384,116.954l55.559,-48.172l-33.127,-52.045l131.923,47.183l12.384,106.34l-64.476,-80.222l-102.263,26.916Z" data-bind="illustration">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200">
        <path stroke="#1de9b6" stroke-opacity="0.5" fill="transparent" d="M2.327,171.216l65.616,-102.434l-15.428,-37.224l145.139,-15.011l-85.672,53.494l11.861,54.395l-121.516,46.78Z"/>
      </svg>
    </div>
  </div>

  <div class="section__inner">
    <div class="compress--medium">
      <div class="quote">
        <div class="quote__image">
          <img src="{{ imageUrl(homepage.quoteImage.s3Key) }}" alt="" data-image data-bind="imageLoaded"/>
        </div>

        <blockquote class="quote__content">
          <p>{{ homepage.quoteCopy }}</p>

          <cite>
            <span>{{ homepage.quoteName }}</span>
            <span>{{ homepage.quotePosition }}</span>
          </cite>
        </blockquote>
      </div>
    </div>
  </div>
</section>

<section class="section--home">
  <div class="section__background" style="width: 500px; height: 500px; top: {{ homepage.getStartedBackgroundTop }}rem; right: {{ homepage.getStartedBackgroundLeft }}rem;">
    <div class="illustration" data-anim-type="morph" data-anim-reps="22"  data-anim-duration="8000" data-anim-path="M69.43,15.324c-15.039,12.884 2.193,36.157 -2.446,58.466c-5.824,28.006 -58.16,36.528 -21.838,87.688c9.725,13.699 32.968,25.918 51.258,27.331c21.544,1.665 47.234,-1.065 61.266,-23.442c17.173,-27.386 4.239,-44.853 -32.195,-52.209c-37.168,-7.504 23.166,-41.9 25.375,-64.129c2.447,-24.613 -17.369,-36.315 -32.947,-41.075c-14.394,-4.399 -34.391,-4.694 -48.473,7.37Z" data-bind="illustration">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200">
        <path stroke="#5539d2" stroke-opacity="0.5" fill="transparent" d="M69.979,68.343c0,0 -26.685,-13.994 -43.63,1.241c-22.604,20.324 -37.922,72.414 -4.799,93.161c33.123,20.747 58.758,14.519 57.422,-3.776c-1.337,-18.295 -6.482,-49.428 32.347,-47.643c38.829,1.785 82.041,1.744 85.56,-27.752c3.518,-29.495 -22.88,-52.678 -48.363,-55.637c-15.881,-1.844 -23.182,8.032 -27.306,14.246c-12.751,19.216 -32.537,36.114 -51.231,26.16Z"/>
      </svg>
    </div>
  </div>

  <div class="section__inner">
    <header class="section__header">
      <h2 class="section__heading">{{ homepage.getStartedHeading }}</h2>
      <p class="section__copy">{{ homepage.getStartedCopy }}</p>
    </header>

    <a href="#" class="button">{{ homepage.getStartedCta }}</a>
  </div>
</section>

<div class="bottom-nav">
  <div class="bottom-nav__inner">
    {% for item in homepage.bottomNav %}
    <div class="bottom-nav__block">
      <div class="bottom-nav__content">
        <h3 class="bottom-nav__heading">{{ item.bottomNavHeading }}</h3>
        <p class="bottom-nav__copy">{{ item.bottomNavCopy }}</p>
      </div>

      <footer class="bottom-nav__footer">
        <a href="{{ item.bottomNavUrl }}" class="button--border">{{ item.bottomNavCta }}</a>
      </footer>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
