{% extends "layouts/default.html" %}

{% from "macros/image-url.html" import imageUrl %}

{% set base_url = "/" %}

{% block content %}
<header class="page-header">
  <div class="page-header__inner">
    <h1 class="page-header__heading">Our Manifesto</h1>
  </div>
</header>

<div class="manifesto">
  <h2>Built for developers by developers and creatives.</h2>
  <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad alias dolorem ducimus excepturi hic illum ipsam libero modi natus necessitatibus non provident, quaerat quia sit tempore velit veniam veritatis.</h4>
  <h3>About TakeShape</h3>
  <h4>TakeShape is a content management system built for developers. TakeShape combines performance, flexibility, and the best practices of today to create what we believe is the best approach to content management.</h4>
  <h4>Content management shouldn't be hard. Our goal is to create the best experience for both developers and the content creators who with CMSes every day. For developers, we've provided a frictionless framework to build your projects on. For content creators, we've created an intuitive interface and provided convenient features to find and manage content quickly.</h4>
  <h3>Who made TakeShape?</h3>
  <h4>TakeShape was created by Andrew Sprouse, Micheal Shick and the team at Ronik Design. We have over _ years experience creating custom content managed websites for progressive organizations across the country.</h4>
  <h4>Ronik is a design and development agency in Brooklyn. We believe in usable design and progressive technologies in all media. We work closely with forward-thinking brands to create engaging, award-winning experiences from strategy to development.</h4>
</div>

<div class="manifesto__footer">
  <h1>
    Built by Ronik.
  </h1>

  <h2>
    interested in joining the team as coworker or investor?
  </h2>

  <a href="" class="manifesto__button">Contact@TakeShape.com</a>
</div>
{% endblock %}
