{% extends "layouts/default.html" %}

{% from "macros/image-url.html" import imageUrl %}

{% set base_url = "/" %}

{% block body_class %}body--page{% endblock %}

{% block content %}
<header class="page-header">
  <div class="page-header__inner">
    <h1 class="page-header__heading">Have a ____?<br/>We have a plan.</h1>
    <p class="page-header__copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed egestas est in elementum placerat.</p>
  </div>
</header>

<section class="section">
  <div class="section__inner">
    <div class="pricing">
      <div class="pricing__content">
        <div class="pricing__block">
          <div class="card--pricing">
            <h3 class="pricing__heading">Personal</h3>

            <div class="pricing__price">
              <h2 class="pricing__amount">30</h2>
              <span class="pricing__info">per month</span>
            </div>

            <ul class="pricing__list">
              <li>Five wombats per dollar</li>
              <li>You can drink all the bowls of soup you can buy</li>
              <li>Won't kill you</li>
            </ul>
          </div>
        </div>

        <div class="pricing__block">
          <div class="card--pricing">
            <h3 class="pricing__heading">Business</h3>

            <div class="pricing__price">
              <h2 class="pricing__amount">99</h2>
              <span class="pricing__info">per month</span>
            </div>

            <ul class="pricing__list">
              <li>We'll drown one of your enemies</li>
              <li>You'll get satisfaction</li>
              <li>Lions will respect you</li>
            </ul>
          </div>
        </div>

        <div class="pricing__block">
          <div class="card--pricing">
            <h3 class="pricing__heading">Dedicated</h3>

            <div class="pricing__price">
              <span class="pricing__info">starting at</span>
              <h2 class="pricing__amount">1200</h2>
              <span class="pricing__info">per month</span>
            </div>

            <ul class="pricing__list">
              <li>The best a man can get</li>
              <li>It's gonna be yuge</li>
              <li>You'll be king of France</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="pricing__footer">
        <div class="pricing__block">
          <a href="#" class="button">Get Started</a>

          <div class="pricing__details">
            <a href="#">Read plan details</a>
          </div>
        </div>

        <div class="pricing__block">
          <a href="#" class="button">Get Started</a>

          <div class="pricing__details">
            <a href="#">Read plan details</a>
          </div>
        </div>

        <div class="pricing__block">
          <a href="#" class="button--border">Contact us</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="section__inner">
    <div class="compress--medium">
      <div class="quote">
        <div class="quote__image">
          <img src="/assets/images/image02.png" alt="" />
        </div>

        <blockquote class="quote__content">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed egestas est in elementum placerat.</p>

          <cite>
            <span>Frances Morgan</span>
            <span>Vice President of Sales @ SalesPenny</span>
          </cite>
        </blockquote>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="section__inner">
    <div class="compress-large">
      <div class="card--tout">
        <a href="#" class="card__link">Check out TakeShape's full feature list</a>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="section__inner">
    <header class="section__header">
      <h2 class="section__heading">Pricing FAQs</h2>
    </header>

    <div class="section__content">
      <div class="faq">
        <div class="faq__block">
          <h3 class="faq__heading">Changes to Plan</h3>

          <ul class="faq__list">
            <li>
              <h4 class="faq__question">What if I need more bandwidth?</h4>
              <p class="faq__answer">We’ll bill you for $1B for every 1GB over the X GB/monthly limit.</p>
            </li>

            <li>
              <h4 class="faq__question">What is your cancellation policy?</h4>
              <p class="faq__answer">Cancel at any time for no additional cost. Your membership will expire at the end of your last pay cycle.</p>
            </li>
          </ul>
        </div>

        <div class="faq__block">
          <h3 class="faq__heading">Payment Methods</h3>

          <ul class="faq__list">
            <li>
              <h4 class="faq__question">What payment methods do you accept?</h4>
              <p class="faq__answer">Quisque vitae hendrerit nulla. Curabitur posuere vel neque ut accumsan. Nulla convallis lacinia lectus eget lobortis. Sed viverra vitae turpis eget tincidunt. Etiam at tristique diam, et malesuada turpis. Suspendisse justo elit.</p>
            </li>

            <li>
              <h4 class="faq__question">Can I pay yearly?</h4>
              <p class="faq__answer">Probably.</p>
            </li>
          </ul>
        </div>

        <div class="faq__block">
          <h3 class="faq__heading">Plans and Features</h3>

          <ul class="faq__list">
            <li>
              <h4 class="faq__question">Question lorem ipsum dolor sit amet?</h4>
              <p class="faq__answer">Maecenas commodo ante in arcu cursus dapibus. Duis placerat, tellus at gravida porttitor, lectus augue auctor quam.</p>
            </li>

            <li>
              <h4 class="faq__question">Question lorem ipsum dolor sit amet?</h4>
              <p class="faq__answer">Quisque vitae hendrerit nulla. Curabitur posuere vel neque ut accumsan. Nulla convallis lacinia lectus eget lobortis. Sed viverra vitae turpis eget tincidunt. Etiam at tristique diam, et malesuada turpis. Suspendisse justo elit.</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
