.features-container {
  @extend %basic-block;

  padding: 16.4rem 0 25.3rem 4rem;

  .feature {
    display: inline-block;
    margin-right: 4rem;


    h2 {
      font-family: $atlas;
      font-size: 3.6rem;
      margin-top: 3.5rem;

    }

    p {
      font-family: "Atlas Typewriter";
      font-size: 1.8rem;
      line-height: 1.6;
      margin-top: 2.3rem;

    }

    &__img {
      height: 22rem;
      width: 36rem;
      background-color: lightgray;
    }
  }


}
