.get-started{
  font-family: "Work Sans", sans-serif;
  height: 20rem;
  margin-bottom: 10rem;
  text-align: center;


  h1 {
    font-family: "Atlas Grotesk";
    font-size: 5.4rem;
    text-align: center;
    margin-bottom: 2.65rem;

  }

  h2 {
    height: 7.4rem;
    width: 65rem;
    font-family: "Atlas Typewriter";
    font-size: 2.4rem;
    text-align: center;
    margin-left: 39.5rem;
    margin-bottom: 5.65rem;
  }

    div {
      font-family: "Atlas Typewriter";
      font-weight: bold;
      font-size: 1.6rem;
      color: white;
      border-radius: 3%;
      background-color: #00cc99;
      padding: 2%;
      margin-left: 55.4rem;
      width: 33.3rem;
      height: 6.4rem;
      margin-top: 3rem;
      margin-bottom: 3rem;
    }


}
