.body--homepage {
  @extend %container;

  .wrapper {
    @extend %container;

    display: flex;
    justify-content: space-between;
    height: 100%;
    flex-direction: column;

    > * {
      pointer-events: auto;
    }

  }
}


