.interface2 {
  @extend %basic-block;
  @extend %container;

  margin-bottom: 6.5rem;
  margin-top: 30rem;

  .interface2__img {
    position: absolute;
    margin-left: -10rem;
    margin-top: -30rem;
    width: 48rem;
    height: 48rem;
    z-index: 1;
  }

  .interface2__text {
    @extend %container;

    max-width: 65rem;
    text-align: center;
    margin-bottom: 10rem;

    h1 {
      font-family: $atlas;
      font-size: 5.4rem;
      letter-spacing: 0.025rem;
      margin-bottom: 5rem;

    }

    h3 {
      font-family: $atlas-typewriter;
      font-size: 1.8rem;
      line-height: 1.7;

    }
  }

  .interface2__feature-container {
    @extend %container;

      margin-bottom: 10rem;
      lost-utility: clearfix;

    .interface2__feature {

      lost-column: 1/3;

      h2 {
        font-family: $atlas;
        font-size: 2.4rem;
        font-weight: bold;
        padding: 3.8rem 20rem 1.4rem 4.3rem;
      }

      h3 {
        font-family: $atlas;
        font-size: 1.8rem;
        line-height: 1.6;
        padding: 0 4.3rem 4.1rem 4.3rem;
      }

    }

    .interface2__feature:hover {
      color: -color(white);
      background-color: #5EDEB3;
    }
  }

}

.interface2__imgs {
  @extend %container;

  height: 72rem;
  width: 115rem;
}

