.interface3 {
  @extend %basic-block;
  @extend %container;

  margin-bottom: 44rem;
  margin-top: 40rem;

  .interface3__img {
    position: absolute;
    margin-left: 77rem;
    margin-top: -24rem;
  }

  .interface3__text {
    @extend %container;


    text-align: center;
    max-width: 63rem;
    margin-bottom: 12rem;

    h1 {
      font-family: $atlas;
      font-size: 5.4rem;
      letter-spacing: 0.025rem;
    }
  }

    .interface3__users-container {

      display: inline-block;
      vertical-align: top;
      padding: 2rem 4rem;

      .interface3__user {

        padding-left: 1rem;
        margin-bottom: 7rem;
        border-left: solid -color(white);

        h2 {
          font-family: $atlas;
          font-size: 2.4rem;
          font-weight: bold;
          margin-bottom: 1.2rem;
        }

        h3 {
          font-family: $atlas-typewriter;
          font-size: 1.6rem;
          max-width: 30rem;
        }

      }

      .interface3__user:hover {
        border-left: solid #68D9BB;

        h2{
          color: #68D9BB;
        }
      }
    }
  .interface3__imgs {
    display: inline-block;
    height: 50rem;
    width: 80rem;
  }
}
