.plan--big {

  margin-top: -4rem;
  text-align: center;


  lost-column: 1/4 no-flex;

  .plan__price {

    border-top:solid #979797 0.3rem;
    border-left:solid #979797 0.3rem;
    border-right:solid #979797 0.3rem;
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;


    padding: 5rem 0;

    h3 {
      font-family: $atlas;
      font-size: 2.4rem;
      font-weight: bold;
    }

    h4 {
      display: inline-block;
      font-family: "Open Sans";
      font-size: 3.6rem;
      font-weight: bold;
      padding-top: 2rem;
      vertical-align: top;
    }

    h1 {
      display: inline-block;
      font-family: "Open Sans";
      font-size: 8rem;
      font-weight: bold;
    }

    p {
      font-family: $atlas;
      font-size: 1.6rem;
      line-height: 1.7;
      max-width: 9rem;
    }

    .plan__number--dedicated {

      h1 {
        font-size: 3.6rem;
        margin: 3.3rem 0;
      }
    }

  }

  .plan__features {

    background: #F1F1F1;
    border-bottom:solid #979797 0.3rem;
    border-left:solid #979797 0.3rem;
    border-right:solid #979797 0.3rem;
    border-bottom-left-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;


    h3 {
      font-family: $atlas;
      font-size: 1.6rem;
      font-weight: -weight(regular);
      padding-bottom: 2rem;
      margin: 0 2rem 2rem 2rem;
      border-bottom: solid black 0.1rem;
    }

    h3:first-of-type {
      padding-top: 2rem;
    }

    h3:last-of-type{
      padding-bottom: 0;
      border-bottom: none;
    }
  }

  .plan__link {
    font-family: $atlas;
    font-size: 1.6rem;
    font-weight: -weight(regular);
    display: inline;
    border-bottom: solid black 0.1rem;
  }

  p {
    font-family: $atlas;
    font-size: 1.6rem;
    font-weight: -weight(regular);
    display: inline;
  }

  .button {
    margin: 2.8rem 3rem 1rem;
  }

  .button--dedicated {
    outline: 0 none !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-decoration: none;
    font-family: $atlas-typewriter;
    font-style: 1.6rem;
    font-weight: bold;
    text-align: center;
    background: 0 0;
    border: 2px solid red;
    color: red;
    text-transform: uppercase;
    padding: 2rem 2.5rem;
    letter-spacing: .13rem;
    border-radius: .3rem;
    cursor: pointer;
    transition: .22s background-color cubic-bezier(0.165, .84, .44, 1);
    margin: 2.8rem 3rem 1rem;
  }
}
