.why-container {
    height: 49rem;
    width: 100%;
    margin-left: 14rem;
    margin-top: 10rem;

  .why_div{
    height: 100%;
    lost-column: 1/3;
    margin-right: 5.7rem;

  }

  .why_div:first-of-type {
    border-right: 2px solid gray;

  }

  .why_div:nth-of-type(2) {
    border-right: 2px solid gray;

  }

  .why_div:nth-of-type(3) {


  }

    h1 {
    font-family: "Atlas Grotesk";
    font-size: 3.6rem;
    height: 4.6rem;
    width: 33.3rem;
    margin-bottom: 1.7rem;

  }

  h2 {
    font-family: "Atlas Typewriter";
    font-size: 1.6rem;
    height: 11.4rem;
    width: 29.6rem;
    margin-bottom: 3.3rem;

  }

  #why_button {
    height: 7.4rem;
    width: 29.4rem;
    outline: 0 none !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-decoration: none;
    text-align: center;
    background: 0 0;
    border: 2px solid red;
    color: red;
    font-family: proxima-nova,sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
    text-transform: uppercase;
    padding: 2rem 2.5rem;
    letter-spacing: .13rem;
    border-radius: .3rem;
    cursor: pointer;
    transition: .22s background-color cubic-bezier(0.165,.84,.44,1);

  }

}
