.bottom-nav {
  @extend %basic-block;

  margin-top: 16rem;

  &__inner {
    @extend %container;

    @include above(desktop) {
      display: flex;
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include between(mobile, tablet) {
      text-align: center;
    }

    @include below(tablet) {
      max-width: 60rem;
      margin-left: auto;
      margin-right: auto;

      & + * {
        border-top: 1px solid -color(mishka);
        padding-top: 6.4rem;
        margin-top: 6.4rem;
      }
    }

    @include above(desktop) {
      width: 33.3334%;
      padding: 2.6rem 4.6rem 3.4rem;

      & + * {
        border-left: 1px solid -color(mishka);
      }

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }

  &__heading {
    @include hd-b();

    padding-bottom: 2rem;
  }

  &__copy {
    @include copy-c($family: $atlas-typewriter);
  }

  &__footer {
    margin-top: 4rem;
  }

  @include above(desktop) {
    &__footer {
      margin-top: 6.6rem;
    }

    .button--border {
      width: 100%;
    }
  }
}
