%button {
  display: inline-block;
  font-family: $atlas-typewriter;
  font-weight: -weight(bold);
  font-size: 1.4rem;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.33;
  letter-spacing: .02em;
  vertical-align: middle;
  border-radius: 0.2rem;
  word-break: break-all;
  word-break: break-word;
  max-width: 100%;
  will-change: color, background, border, box-shadow;
  transition: color 0.2s $ease-in-out-quart, background 0.2s $ease-in-out-quart, border 0.2s $ease-in-out-quart, box-shadow 0.15s $ease-in-out-quart;

  &:hover {
    box-shadow: $purple-shadow-dark;
  }

  &:active {
    transition: color 0.08s $ease-in-out-quart, background 0.08s $ease-in-out-quart, border 0.08s $ease-in-out-quart;
  }

  @include above(mobile) {
    font-size: 1.6rem;
  }
}

.button {
  @extend %button;

  color: -color(white);
  background-color: -color(viking);
  padding: 2.2rem 2.8rem 2rem;

  &:hover {
    background-color: -color(purple-heart);
  }

  &:active {
    background-color: -color(bright-sun);
  }
}

.button--border {
  @extend %button;

  color: -color(purple-heart);
  background-color: transparent;
  border: 0.2rem solid -color(purple-heart);
  padding: 2rem 2.6rem 1.8rem;

  &:hover {
    color: -color(white);
    background-color: -color(purple-heart);
  }

  &:active {
    background-color: -color(bright-sun);
    border-color: -color(bright-sun);
  }
}
