%button {
  display: inline-block;
  font-family: $atlas-typewriter;
  font-weight: -weight(bold);
  font-size: 1.6rem;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: .02em;
  vertical-align: middle;
  border-radius: 0.2rem;
  padding: 2.2rem 2.8rem 2rem;
  will-change: color, background, border;
  transition: color 0.2s $ease-in-out-quart, background 0.2s $ease-in-out-quart, border 0.2s $ease-in-out-quart;

  &:active {
    transition: color 0.08s $ease-in-out-quart, background 0.08s $ease-in-out-quart, border 0.08s $ease-in-out-quart;
  }
}

.button {
  @extend %button;

  color: -color(white);
  background-color: -color(viking);

  &:hover {
    background-color: -color(purple-heart);
  }

  &:active {
    background-color: -color(bright-sun);
  }
}
