[class*="card--"] {
  @extend %basic-block;

  background-color: -color(white);
  padding: 6rem;
  z-index: -z(content);
}

%purple-shadow {
  box-shadow: $purple-shadow;
}

.card--feature {
  @extend %purple-shadow;

  max-width: 66rem;
  margin-bottom: 7.2rem;
}

.card--pricing {
  @extend %purple-shadow;

  padding: 4.6rem 5.4rem 3rem;
  flex-grow: 1;
}


.card--tout {
  @extend %purple-shadow;

  text-align: left;
}

.card--join-us {
  @extend %purple-shadow;

  text-align: left;

  .card__copy {
    @include hd-f();

    max-width: 36.4rem;
  }

  .button--border {
    margin-top: 3.6rem;
  }
}

.card--get-started {
  box-shadow: $green-shadow;
}

.card__rubric {
  @include hd-e(-color(purple-heart));

  display: block;
  margin-bottom: 1.4rem;
}

.card__heading {
  @include hd-f();

  margin-bottom: 1.8rem;
}

.card__copy {
  @include copy-b($line-height: 1.77);
}

.card__link {
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    @include hd-a();
  }
}

.card__icon {
  display: block;
  position: relative;
  width: 5.6rem;
  height: 5.6rem;
  margin-left: 4rem;
  flex-shrink: 0;

  svg {
    @extend %absolute-center;

    fill: -color(purple-heart);
  }
}
