.card,
[class*="card--"] {
  @extend %basic-block;

  background-color: -color(white);
  padding: 5.4rem 3.2rem;
  z-index: -z(content);

  @include above(mobile) {
    padding: 6rem;
  }
}

%purple-shadow {
  box-shadow: $purple-shadow;
}

.card--feature {
  @extend %purple-shadow;

  max-width: 66rem;
  margin-bottom: 7.2rem;
}

.card--sign-up {
  @extend %purple-shadow;

  .form {
    margin-top: 3.2rem;
  }
}

.card--pricing {
  @extend %purple-shadow;

  padding: 4.6rem 5.4rem 3rem;
  flex-grow: 1;
}


.card--tout {
  @extend %purple-shadow;

  text-align: left;
}

.card--join-us {
  @extend %purple-shadow;

  text-align: left;

  .card__copy {
    @include hd-f();

    max-width: 36.4rem;
  }

  .button--border {
    margin-top: 3.6rem;
  }
}

.card--get-started {
  box-shadow: $green-shadow;

  @include below(mobile) {
    .section__header {
      margin-bottom: 4.4rem;
    }

    .section__heading {
      font-size: 3.2rem;
    }
  }
}

.card--feature,
.card--upcoming {
  @extend %purple-shadow;

  max-width: 66rem;
  margin-bottom: 7.2rem;
  text-align: left;
}

.card__content {
  @extend .content;
}

.card__rubric {
  @include hd-e(-color(purple-heart));

  display: block;
  margin-bottom: 1.4rem;
}

.card__heading {
  @include hd-f();

  margin-bottom: 1.8rem;
}

.card__copy {
  @include copy-b($line-height: 1.77);
}
