.content {
  @include copy-c();

  text-align: left;

  h1 {
    @include hd-a($line-height: 1.25);

    & + * {
      margin-top: 4rem;
    }
  }

  h2 {
    @include hd-b();

    & + * {
      margin-top: 2.6rem;
    }
  }

  h3 {
    @include hd-f();

    & + * {
      margin-top: 1.6rem;
    }
  }

  p {
    & + h1,
    & + h2,
    & + h3 {
      margin-top: 4rem;
    }
  }

  ul {
   list-style: circle;
  }

  ol {
    list-style: decimal;
  }

  ol, ul {
    padding-left: 1.6rem;
  }

  > * + * {
    margin-top: 2.4rem;
  }

  a {
    color: -color(silver-tree);
    font-weight: -weight(medium);
    will-change: color;
    transition: color 0.1s $ease-in-out-quart;

    &:hover {
      color: -color(medium-purple);
    }

    &:active {
      color: -color(bright-sun);
    }
  }
}
