.cycler {
  &__inner {
    display: flex;
  }

  &__heading {
    @include hd-h();

    margin-bottom: 6rem;
  }

  &__nav {
    width: 36rem;
    flex-shrink: 0;
    margin-right: 6rem;
  }

  &__content {
    width: 100%;
    flex: 1 1 100%;

    img {
      width: 100%;
      height: auto;
    }
  }

  [class*="line-list--"] {
    li {
      padding-top: 1.6rem;
      padding-bottom: 1.6rem;
    }
  }
}
