.footer {
  @extend %basic-block;

  margin-top: 14rem;
  padding: 6rem 0;
  background-color: -color(port-gore);

  @include above(mobile) {
    padding: 11rem 0;
  }

  &__inner {
    @extend %container;

    display: flex;
    flex-direction: column;

    @include above(desktop) {
      justify-content: space-between;
      flex-direction: row;
    }
  }

  &__block {
    @include below(tablet) {
      & + * {
        margin-top: 8rem;
      }
    }

    @include above(mobile) {
      &:first-child {
        display: flex;
      }
    }
  }

  &__list {
    & + * {
      margin-top: 5.4rem;
    }

    li {
      & + * {
        margin-top: 1.4rem;
      }

      &:nth-child(2) {
        margin-top: 2.4rem;
      }
    }

    @include above(mobile) {
      & + * {
        margin-top: 0;
        margin-left: 5.4rem;
      }
    }
  }

  &__heading {
    color: -color(viking);
    font-family: $atlas;
    font-size: 1.4rem;
    font-weight: -weight(bold);
    letter-spacing: 0.1em;
    line-height: 1.33;
    text-transform: uppercase;
  }

  &__link {
    color: -color(white);
    font-family: $atlas-typewriter;
    font-size: 1.6rem;
    will-change: color;
    transition: color 0.15s $ease-in-out-quart;

    &:hover {
      color: -color(medium-purple);
    }

    &:active {
      color: -color(bright-sun);
      transition: color 0.08s $ease-in-out-quart;
    }
  }

  &__credit {
    color: -color(white);
    font-family: $atlas-typewriter;
    font-size: 1.4rem;
    line-height: 1.5;

    a {
      color: inherit;
      font-weight: -weight(medium);
      will-change: color;
      transition: color 0.15s $ease-in-out-quart;

      &:hover {
        color: -color(viking);
      }

      &:active {
        color: -color(bright-sun);
        transition: color 0.08s $ease-in-out-quart;
      }
    }
  }
}

.newsletter {
  display: flex;
  margin-bottom: 4.4rem;
  max-width: 70rem;

  &__element {
    flex-grow: 1;

    @include above(desktop) {
      min-width: 28.8rem;
    }
  }

  &__input {
    @extend %strip-input-style;

    background-color: -color(white);
    width: 100%;
    height: 5.5rem;
    color: -color(shark);
    font-family: $atlas-typewriter;
    font-size: 1.4rem;
    border-radius: 0.8rem 0 0 0.8rem;
    padding: 2rem;
  }

  &__submit {
    @extend %strip-input-style;

    color: -color(white);
    font-family: $atlas-typewriter;
    font-weight: -weight(medium);
    font-size: 1.4rem;
    line-height: 5.5rem;
    letter-spacing: .02em;
    vertical-align: middle;
    text-align: center;
    text-transform: uppercase;
    padding-left: 2rem;
    padding-right: 2rem;
    height: 5.5rem;
    border-radius: 0 0.8rem 0.8rem 0;
    background-color: -color(purple-heart);
    will-change: color, background;
    transition: color 0.2s $ease-in-out-quart, background 0.2s $ease-in-out-quart;
    cursor: pointer;

    &:hover {
      background-color: -color(viking);
    }

    &:active {
      background-color: -color(bright-sun);
      transition: color 0.08s $ease-in-out-quart, background 0.08s $ease-in-out-quart;
    }
  }
}
