.header {
  position: fixed;
  display: block;
  width: 100%;
  height: $header-height;
  background-color: -color(white);
  border-bottom: 0.1rem solid -color(porcelain);
  z-index: -z(header);

  &__inner {
    @extend %container;

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  &__logo {
    display: block;
    flex-shrink: 0;
    width: 24.3rem;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  .header__nav {
    ul {
      display: inline-block;
      margin-right: 4.8rem;
    }

    li {
      display: inline-block;

      & + * {
        margin-left: 4.8rem;
      }

      a {
        color: -color(ebony-clay);
        font-family: $atlas;
        font-size: 1.8rem;
        will-change: color;
        transition: color 0.15s $ease-in-out-quart;

        &:hover {
          color: -color(governor-bay);
        }

        &:active {
          color: -color(bright-sun);
          transition: color 0.08s $ease-in-out-quart;
        }
      }
    }
  }
}
