.hero {
  @extend %basic-block;

  background-color: -color(bunting);
  min-height: 60rem;
  height: calc(100vh - #{$header-height});
  max-height: 84rem;
  color: -color(white);
  padding: 10rem 0 13.5rem;

  &__inner {
    @extend %container;

    display: flex;
    lost-utility: clearfix;

    h1 {
      font-family: $atlas;
      font-size: 5.4rem;
      line-height: 1.28;
    }

    p {
      font-family: $atlas-typewriter;
      font-size: 2.1rem;
      line-height: 1.62;
      margin-top: 3.1rem;
    }

    .button {
      margin-top: 5.5rem;
    }
  }

  &__content {
    max-width: 73rem;
    lost-column: 1/2;
  }

  &__img {
    lost-column: 1/2;
    padding-left: 11rem;
  }
}
