.hero {
  @extend %basic-block;

  background-color: -color(persian-indigo);
  min-height: 60rem;
  height: calc(100vh - #{$mobile-header-height});
  color: -color(white);
  padding: 4rem 0;
  overflow: hidden;
  margin-bottom: 5.4rem;

  &__background {
    @extend %absolute-center;

    z-index: -z(background);

    > .illustration {
      opacity: 0.5;
      position: absolute;
      top: 50%;
      right: 8%;
      width: 40rem;
      height: 40rem;
      transform: translateY(-50%);
    }
  }

  &__inner {
    @extend %container;

    display: flex;
    align-items: center;
    height: 100%;
  }

  &__content {
    max-width: 65rem;
    z-index: -z(content);
  }

  &__heading {
    @include hd-a(-color(white));
  }

  &__copy {
    @include copy-a(-color(white), $family: $atlas-typewriter);

    margin-top: 2.8rem;
  }

  &__img {
    lost-column: 1/2;
    padding-left: 11rem;
  }

  .button {
    margin-top: 4.4rem;
    background-color: -color(java);
  }

  @include above(desktop) {
    height: calc(100vh - #{$header-height});
    max-height: 84rem;
  }
}
