.page-header {
  @extend %basic-block;

  text-align: center;
  margin: 12rem 0;

  &__inner {
    @extend %container;
  }

  &__heading {
    @include hd-c();
  }

  &__copy {
    @include copy-b($family: $atlas-typewriter, $line-height: 1.77);

    margin: 2.2rem auto 0;
    max-width: 60rem;

    &:last-child {
      margin-top: 6.6rem;
    }
  }

  .button--border {
    margin-top: 4.6rem;
  }
}
