.search {
  &__element {
    @extend %basic-block;

    max-width: 56rem;
    margin: 6rem auto 0;
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 2.2rem;
    display: block;
    width: 2.2rem;
    height: 2.2rem;
    transform: translateY(-50%);

    svg {
      @extend %absolute-center;

      fill: -color(topaz);
    }
  }

  &__input {
    @extend %strip-input-style;

    width: 100%;
    height: 6rem;
    padding-left: 6rem;
    padding-right: 2rem;
    color: -color(shark);
    font-family: $atlas;
    font-size: 2.4rem;
    border-radius: 0.8rem;
    border: 1px solid -color(ghost);
    box-shadow: 0 0 0 0 rgba(113,91,210,0.05);
    will-change: background, box-shadow;
    transition: background 0.15s $ease-in-out-quart, box-shadow 0.15s $ease-in-out-quart;

    &:focus {
      background-color: -color(white);
      box-shadow: $purple-shadow;
    }
  }

  &__current {
    @include hd-f();

    margin-top: 4.2rem;

    strong {
      font-weight: -weight(bold);
    }
  }
}
