.section,
[class*="section--"] {
  @extend %basic-block;

  margin-top: 18rem;

  .section__inner {
    text-align: center;
  }
}

.section--home {
  * + & {
    margin-top: 42rem;
  }
}

.section--features {
  .section__inner {
    text-align: left;
  }

  &:first-child {
    margin-top: 12rem;
  }
}

.section__background {
  position: absolute;
  z-index: -1;
}

.section__inner {
  @extend %container;

  z-index: -z(content);
}

.section__header {
  margin-bottom: 8rem;

  .section__copy {
    max-width: 46rem;
    margin: 0 auto;
  }
}

.section__heading {
  @include hd-c();

  margin: 0 auto;
  max-width: 66rem;

  & + .section__copy {
    margin-top: 3.4rem;
  }
}

.section__copy {
  @include copy-c($family: $atlas-typewriter);
}
