.section,
[class*="section--"] {
  @extend %basic-block;

  &:first-child {
    margin-top: 12rem;
  }

  .section__inner {
    text-align: center;
  }
}

.section,
.section--features {
  & + .section,
  & + [class*="section--"] {
    margin-top: 18rem;
  }
}

.section--home {
  margin-top: 28rem;

  @include above(tablet) {
    .section--home + & {
      margin-top: 36rem;
    }
  }
}

.section--tint {
  background-color: -color(whisper);
  padding: 12rem 0;
  margin: 24rem 0 32rem;
}

.section--features {
  .section__inner {
    text-align: left;
  }

  &:first-child {
    margin-top: 12rem;
  }

  @include below(tablet) {
    .thumb-list {
      display: none;
    }
  }
}

.section__background {
  position: absolute;
  z-index: -1;
  pointer-events: none;
  width: 50rem;
  height: 50rem;
}

.section__inner {
  @extend %container;

  z-index: -z(content);
}

.section__header {
  margin-bottom: 8rem;

  .section__copy {
    max-width: 46rem;
    margin: 0 auto;
  }
}

.section__heading {
  @include hd-c();

  & + .section__copy {
    margin-top: 3.4rem;
  }

  @include below(tablet) {
    text-align: center;
  }
}

.section__subheading {
  @include hd-h();

  margin-bottom: 3.4rem;
  text-align: center;

  @include above(desktop) {
    margin-bottom: 6rem;
    text-align: left;
  }
}

.section__copy {
  @include copy-c($family: $atlas-typewriter);
}
