<nav class="docs-nav">
  <div class="docs-nav__inner">
    <ul class="docs-nav__list">
      {% for section in global.docs.toc.sections %}
      <li data-bind="component: 'accordionItem'">
        <div class="docs-nav__wrapper" data-bind="css: {'is-open': isOpen}">
          <h3 class="docs-nav__heading" data-bind="click: onClickToggle">{{ section.title }}</h3>

          <div class="docs-nav__content" data-bind="style: {height: currentHeightStyle}">
            <ul class="line-list--green" data-accordion-content>
              {% for doc in section.docs | sort %}
              {% set path = doc | route('docs') %}

              <li {% if currentPath === path %}class="is-current"{% endif %}><a href="{{ path }}">{{ doc.title }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</nav>
