{% set footer = global.site.footer %}

<footer class="footer">
  <div class="footer__inner">
    <div class="footer__block">
      {% for list in footer.links %}
      <ul class="footer__list">
        <li><h3 class="footer__heading">{{ list.linksHeading }}</h3></li>

        {% for link in list.link %}
        <li><a href="{{ link.linkPath }}" class="footer__link">{{ link.linkText }}</a></li>
        {% endfor %}
      </ul>
      {% endfor %}
    </div>

    <div class="footer__block">
      <form action="{{ footer.formEndpoint }}" method="post" class="newsletter validate" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
        <div class="newsletter__element">
          <input type="email" value="" name="EMAIL" class="newsletter__input required email" id="mce-EMAIL" placeholder="Sign up for our newsletter"/>
        </div>

        <input type="submit" name="subscribe" id="mc-embedded-subscribe" value="Sign up" class="newsletter__submit"/>

        <div id="mce-responses" class="clear">
          <div class="response" id="mce-error-response" style="display:none"></div>
          <div class="response" id="mce-success-response" style="display:none"></div>
        </div>

        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_b98ffb95799b26d50c42d8be2_4378789333" tabindex="-1" value=""></div>
      </form>

      <h4 class="footer__credit">{{ footer.colophon | md | safe }}</h4>
    </div>
  </div>
</footer>
