<footer class="footer">
  <div class="footer__inner">
    <div class="footer__block">
      <ul class="footer__list">
        <li><h3 class="footer__heading">About TakeShape</h3></li>
        <li><a href="/features" class="footer__link">Features</a></li>
        <li><a href="/pricing" class="footer__link">Pricing</a></li>
        <li><a href="/manifesto" class="footer__link">Manifesto</a></li>
      </ul>

      <ul class="footer__list">
        <li><h3 class="footer__heading">For users</h3></li>
        <li><a href="/docs/introduction-to-takeshape" class="footer__link">Docs</a></li>
        <li><a href="/changelog" class="footer__link">Changelog</a></li>
        <li><a href="#" class="footer__link">Login</a></li>
        <li><a href="https://github.com/takeshape" class="footer__link" target="_blank">Github</a></li>
      </ul>

      <ul class="footer__list">
        <li><h3 class="footer__heading">Find Us On</h3></li>
        <li><a href="#" class="footer__link">Facebook</a></li>
        <li><a href="#" class="footer__link">Twitter</a></li>
        <li><a href="#" class="footer__link">ProductHunt</a></li>
      </ul>
    </div>

    <div class="footer__block">
      <form class="newsletter">
        <div class="newsletter__element">
          <input type="email" name="email" id="email" class="newsletter__input" placeholder="Sign up for our newsletter"/>
        </div>

        <input type="submit" value="Sign up" class="newsletter__submit"/>
      </form>

      <h4 class="footer__credit">Made for developers by the folks at <a href="http://www.ronikdesign.com" target="_blank">Ronik</a></h4>
    </div>
  </div>
</footer>
