a<!-- ko component: "header" -->
<header class="header" data-bind="css: {'is-open': isOpen}">
  <div class="header__inner">
    <a href="/" class="header__logo">
      <img src="/assets/images/tslogo.png" alt="">
    </a>

    <nav class="header__nav">
      <ul class="header__list">
        {% for link in global.primaryNav.nav.links %}
        <li {% if currentPath === link.path %}class="is-current"{% endif %}><a href="{{ link.path }}">{{ link.text }}</a></li>
        {% endfor %}
      </ul>

      <a class="button" href="/signup">Try TakeShape</a>
    </nav>

    <button class="header__burger" data-bind="click: onClickToggle">
      <span></span>
    </button>
  </div>
</header>

<div class="mobile-nav" data-bind="css: {'is-visible': isOpen}">
  <div class="mobile-nav__inner">
    <ul class="mobile-nav__list">
      <li class="mobile-nav__item">
        <a href="/" class="mobile-nav__link">Home</a>
      </li>

      {% for link in global.primaryNav.nav.links %}
      <li class="mobile-nav__item">
        <a href="{{ link.path }}" class="mobile-nav__link">{{ link.text }}</a>
      </li>
      {% endfor %}

      <li class="mobile-nav__item">
        <a href="/signup" class="mobile-nav__link">Signup</a>
      </li>
    </ul>
  </div>
</div>
<!-- /ko -->
