<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="chrome=1">

<meta name="viewport" content="width=device-width">
<meta width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no name="viewport">

<link rel="stylesheet" href="/assets/{{ global.assets["stylesheets/main.css"] }}"/>

<link rel="shortcut icon" href="/assets/images/default-favicon.ico">
<link rel="icon" href="/assets/images/default-favicon-192x192.png" type="image/png" sizes="192x192">
<link rel="apple-touch-icon" href="/assets/images/default-favicon-180x180.png" type="image/png" sizes="180x180">

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
