<footer class="footer">
  <div class="container">
    <div class="footer__section">
    <ul>
      <li><a href="#" id="footer__link--heading">About Takeshape</a></li>
      <li><a href="#" class="footer__link">Features</a></li>
      <li><a href="#" class="footer__link">Pricing</a></li>
      <li><a href="#" class="footer__link">Manifesto</a></li>
    </ul>
    <ul>
      <li><a href="#" id="footer__link--heading">For Users</a></li>
      <li><a href="#" class="footer__link">Docs</a></li>
      <li><a href="#" class="footer__link">Login</a></li>
      <li><a href="#" class="footer__link">Git</a></li>
    </ul>
    <ul>
      <li><a href="#" id="footer__link--heading">Find Us On</a></li>
      <li><a href="#" class="footer__link">Facebook</a></li>
      <li><a href="#" class="footer__link">Twitter</a></li>
      <li><a href="#" class="footer__link">ProductHunt</a></li>
    </ul>
  </div>

    <div class="footer__section">
      <form action="post" class="newsletter">
        <input type="text" name="" id="" placeholder="Sign up for our newsletter"/><input type="submit" value="Keep Me Updated" id="footer__submit"/>
      </form>
      <h4 class="credit">Made for developers at Ronik</h4>

    </div>
  </div>
</footer>
