%container {
  margin: 0 auto;
  max-width: 124rem;
  width: 100%;

  @include below(mobile) {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  @include above(mobile) {
    padding-left: 2rem;
    padding-right: 2rem;
  }

}
