html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
}

body {
  font-size: 1rem;
  background-color: -color(whisper);
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

html,
body {
  height: 100%;
}

.main {
  margin-top: $mobile-header-height;

  @include above(desktop) {
    margin-top: $header-height;
  }
}
