/* stylelint-disable */

// fonts
$atlas: "Atlas Grotesk", "Helvetica Neue", Helvetica, Arial, sans-serif;
$atlas-typewriter: "Atlas Typewriter", "Lucida Grande", monospace;

// font defaults
$font-size-base: 10px;
$font-size: 1.6rem;
$line-height: 1.5;

// easing curves
$ease-in-out-quart: cubic-bezier(0.86, 0, 0.07, 1);
$ease-out-quint: cubic-bezier(0.075, 0.82, 0.165, 1);

// colors
$colors: (
  carnation: #f25f5c,
  bittersweet: #ff6b6b,
  shark: #292f36,
  ebony-clay: #282940,
  port-gore: #28214a,
  persian-indigo: #2d126c,
  governor-bay: #442ab9,
  purple-heart: #5539d2,
  true-violet: #715bd2,
  medium-purple: #7a64dc,
  topaz: #807a8d,
  silver-tree: #36d19e,
  shamrock: #34d6a0,
  viking: #5edeb3,
  java: #1de9b6,
  bright-sun: #f9cb40,
  gold: #ffd600,
  chatelle: #b6b2c1,
  ghost: #c6c6d3,
  mishka: #dedee9,
  porcelain: #e4e8ea,
  whisper: #f5f3f9,
  black: #000000,
  white: #ffffff
);

// weights
$font-weights: (
  thin: 100,
  extra-light: 200,
  light: 300,
  regular: 400,
  medium: 500,
  semi-bold: 600,
  bold: 700,
  extra-bold: 800,
  black: 900
);

// breakpoints
$grid-breakpoints: (
  initial: 0px,
  mobile: 600px,
  tablet: 900px,
  desktop: 1200px,
  hd: 1800px
);

// z-indez layers
$layers: (
  background,
  content,
  dropdown,
  subnav,
  mobile-nav,
  header,
  overlay,
  modal,
  modal-background,
  modal-content
);

// custom variables
$header-height: 13.6rem;
$mobile-header-height: 8rem;

$purple-shadow: 1.6rem 1.6rem 0 0 rgba(113,91,210,0.05);
$purple-shadow-dark: 1.6rem 1.6rem 0 0 rgba(113,91,210,0.1);
$green-shadow: 2.2rem 2.2rem 0 0 rgba(94,222,179,0.15);
