
.footer {
  @extend %basic-block;
  lost-utility: clearfix;
  margin-top: 18rem;
  padding: 10rem 0 10rem 4rem;

  background-color: -color(bunting);

  .footer__section {

    lost-column: 6/12;

    a {
      color: white;
      font-family: $atlas-typewriter;
      font-size: 1.6rem;
    }

    ul {
      lost-row: 1/4;
      lost-column: 1/3;
    }

    form {
      margin-bottom: 4.5rem;
      lost-row: 1/2;
    }

    .newsletter__element{
      display: inline;
    }

    input{
      display: inline;
      border-radius: 9px 3px 3px 9px;
      height: 5.5rem;
      width: 24.8rem;
    }

    h4{
      color: -color(white);
      font-family: $atlas-typewriter;
      font-size: 1.4rem;
      lost-row: 1/2;

    }

  }


}


#footer__link--heading {
  font-family: $atlas;
  font-weight: bold;
  font-size:   1.4rem;
  color: #68D9BB;
}


#footer__submit {
  font-family: $atlas-typewriter;
  font-weight: bold;
  font-size: 1.4rem;
  color: white;
  outline: 0 none !important;
  background-color: #503DA3;
  border-radius: 3px 9px 9px 3px;
}
