.header {
  @include basic-copy();

  display: flex;
  justify-content: space-between;
  padding-top: 8%;
}

.header__logo {
  font-size: 3.4rem;
  font-weight: -weight(bold);
  color: -color(salmon);
  lost-column: 1/4;
  lost-row: 1/3;
  lost-utility: clearfix;
  background-color: white;

}


.section{
  height: 100%;
}
.whole{
  width: 100%;
}
