.header {
  width: 100%;
  display: block;
  background-color: white;
  font-family: "Work Sans", sans-serif;

  }

  .header__logo {
    display: inline-block;
    height: 100%;
    font-size: 3.4rem;
    font-weight: -weight(bold);
    color: gold;
    height: 3.6rem;
    width: 19.9rem;
    margin-top: 5.1rem;
    margin-right: 20.6rem;
    margin-left: 14rem;
    margin-bottom: 4.9rem;


  }

  .header__nav{
    float: right;
    width: 67.9rem;
    margin-top: 5.1rem;
    margin-bottom: 5.8rem;
    margin-right: 14rem;

  }

  .header__nav li {
    lost-column: 1/6;
    color: black;
    width: 8.6rem;
    height: 1.8rem;


  }

  .button {
    border-radius: 8%;
    background-color: #00cc99;
    width: 20.1rem;
    height: 6.4rem;


  }
