$placeholder-color: rgba(255, 255, 255, 0.65);

[class^="input--"] {
  font-size: 1.8rem;
  border: 0;
  border-radius: 0;
  border-bottom: 2px solid -color(salmon);
  padding: 1.6rem 0;
  flex: 1 1 auto;
  height: 6rem;
}

.input--email {
  background: transparent;
  color: -color(white);
  padding-right: 1rem;
  margin-right: 0;

  &::-webkit-input-placeholder {
    color: $placeholder-color !important;
  }

  &:-moz-placeholder { /* Firefox 18- */
    color: $placeholder-color !important;
  }

  &::-moz-placeholder { /* Firefox 19+ */
    color: $placeholder-color !important;
  }

  &:-ms-input-placeholder {
    color: $placeholder-color !important;
  }

  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #3a3062 inset !important;
    -webkit-text-fill-color: #fff !important;
  }
}

.input--submit {
  cursor: pointer;
  background: transparent;
  color: -color(salmon);
  flex-grow: 0;
  margin-left: 0;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1.6rem;
  will-change: color;
  transition: color 0.25s cubic-bezier(0.99, 0.08, 0.49, 0.86);
}

.input-container {
  position: relative;
  overflow: hidden;

  &:after {
    content: "";
    background: -color(salmon);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    will-change: transform;
    transition: transform 0.25s cubic-bezier(0.99, 0.08, 0.49, 0.86);
    z-index: -100;
  }

  &:hover {
    .input--submit {
      color: #fff;
    }

    &:after {
      transform: translateY(0);
    }
  }
}
