.social__list {
  color: -color(cornflower-blue);
  display: flex;
  align-items: center;
}

.social__item {
  & + * {
    margin-left: 5rem;
  }
}

.social__link {
  padding: 2rem;

  svg {
    height: 2rem;
    width: 2rem;
    fill: -color(cornflower-blue);
  }

  &:hover {
    svg {
      fill: -color(salmon);
    }
  }
}
